html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  background-color: #110800;
  line-height: 1;
  letter-spacing: 0;
  word-break: break-all;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

body {
  background-color: #fff;
  color: #110800;
}

a {
  color: #110800;
}

.header a {
  color: #fff;
}

.top-wrap {
  background-image: url("../img/blog-bg.jpeg");
  background-size: cover;
  background-position: 50% 35%;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 60vh;
}
.top-wrap__ttl {
  position: absolute;
  top: 50%;
  left: 7.5%;
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
}
.top-wrap__ttl h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0;
  font-size: clamp(1.25rem, 0.636rem + 2.73vw, 3.5rem);
  letter-spacing: clamp(-0.019rem, -0.01rem - 0.04vw, -0.052rem);
}

.content-wrap > * {
  margin-bottom: 5%;
}
.content-wrap__date p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.545rem + 0.91vw, 1.5rem);
  letter-spacing: clamp(-0.011rem, -0.008rem - 0.01vw, -0.022rem);
}
.content-wrap__ttl h2 {
  font-size: clamp(1.25rem, 1.045rem + 0.91vw, 2rem);
  letter-spacing: clamp(-0.019rem, -0.016rem - 0.01vw, -0.03rem);
}
.content-wrap__txt p {
  font-size: clamp(0.75rem, 0.682rem + 0.3vw, 1rem);
  letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.015rem);
  line-height: 2;
  font-weight: 500;
  margin-bottom: 2.5%;
}
.content-wrap .b-btn {
  margin-top: 7.5%;
}
.content-wrap .b-btn a span {
  margin: 0 2.5%;
  display: inline-block;
  vertical-align: middle;
}
.content-wrap .b-btn a .__icon-arrow__rev {
  margin-top: -20px;
}
.content-wrap .b-btn a .__icon-arrow__rev svg {
  width: 15px;
  height: 15px;
}
.content-wrap .b-btn a span:nth-of-type(2) {
  margin-top: -12px;
}

.footer h2, .footer a, .footer small {
  color: #fff;
}
