@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  background-color: #110800;
  line-height: 1;
  letter-spacing: 0;
  word-break: break-all;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.7s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

@media screen and (min-width: 1025px) {
  .__pc {
    display: none;
  }
  .__tab {
    display: none;
  }
  .__sp {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .__pc {
    display: inline-block;
  }
  .__tab {
    display: none;
  }
  .__sp {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }
  .__tab {
    display: inline-block;
  }
  .__sp {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }
  .__tab {
    display: none;
  }
  .__sp {
    display: inline-block;
  }
}
.initial-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(2.25rem, 1.636rem + 2.73vw, 4.5rem);
  letter-spacing: 0;
  color: #fe4d02;
}

.ttl__sub {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 0.727rem + 1.21vw, 2rem);
  letter-spacing: clamp(-0.015rem, -0.011rem - 0.02vw, -0.03rem);
}

.s-ttl__sub {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: clamp(0.875rem, 0.636rem + 1.06vw, 1.75rem);
  letter-spacing: clamp(-0.001rem, 0.006rem - 0.03vw, -0.026rem);
  display: block;
  color: #fff;
}

.c-ttl {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(1.25rem, 0.773rem + 2.12vw, 3rem);
  letter-spacing: clamp(-0.019rem, -0.012rem - 0.03vw, -0.045rem);
  text-align: center;
}

.__inner {
  width: 90%;
  margin: 0 auto;
}

.__inner2 {
  width: 75%;
  margin: 0 auto;
}

.__inner3 {
  width: 95%;
  margin: 0 auto;
}

.__inner4 {
  width: 60%;
  margin: 0 auto;
}

.__inner5 {
  width: 72.5%;
  margin: 0 auto;
}

.__section1 {
  margin: 10% 0;
}

.__section2 {
  margin: 2.5% 0;
}

.__section3 {
  margin: 7.5% 0;
}

.__section4 {
  margin-top: 10%;
}

.__section5 {
  margin-bottom: 7.5%;
}

.__section6 {
  margin: 5% 0;
}

.outer-btn-s {
  width: 40%;
  background: linear-gradient(to bottom right, #fecd22, #fe4d02);
  border-radius: 50px;
  padding: 2px;
}
@media screen and (max-width: 768px) {
  .outer-btn-s {
    width: 40%;
  }
}

.inner-btn-s {
  width: 100%;
  line-height: 2.5;
  background: #110800;
  border-radius: 50px;
  text-align: center;
}

.__arrow {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 0.545rem + 0.91vw, 1.5rem);
  letter-spacing: clamp(-0.011rem, -0.008rem - 0.01vw, -0.022rem);
  background-image: linear-gradient(to bottom right, #fecd22, #fe4d02);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  gap: 10%;
  position: relative;
}
.__arrow:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .__arrow {
    font-size: clamp(0.688rem, 0.269rem + 1.39vw, 0.938rem);
    letter-spacing: clamp(-0.01rem, -0.004rem - 0.02vw, -0.014rem);
  }
}

.fadeOut {
  -webkit-animation: fadeOutAnime 0.2s forwards;
          animation: fadeOutAnime 0.2s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeOutAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes fadeOutAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}
.fadeIn {
  -webkit-animation: fadeInAnime 0.2s forwards;
          animation: fadeInAnime 0.2s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.__text {
  margin-top: -2.5px;
}

.__icon-arrow svg {
  transform: rotate(90deg);
}

.__icon-arrow__rev svg {
  transform: rotate(-90deg);
}

.simple1-1 {
  position: relative;
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.arrow-part1 {
  display: block;
  width: 16px; /* 横線部分の幅 */
  height: 2px; /* 横線部分の高さ */
  background-color: #fe4d02;
}
@media screen and (max-width: 768px) {
  .arrow-part1 {
    width: 12px;
  }
}

.diagonal-line1,
.diagonal-line2 {
  display: block;
  width: 8px; /* 斜め線の長さ */
  height: 2px; /* 斜め線の太さ */
  background-color: #fe4d02; /* 斜め線の色 */
  position: absolute;
  right: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .diagonal-line1,
  .diagonal-line2 {
    width: 6px;
  }
}

.diagonal-line1 {
  transform: rotate(45deg); /* 斜め線の角度調整 */
  top: -3px; /* 上からの位置 */
}
@media screen and (max-width: 768px) {
  .diagonal-line1 {
    top: -2px;
  }
}

.diagonal-line2 {
  transform: rotate(-45deg); /* 斜め線の角度調整 */
  top: 3px; /* 上からの位置 */
}
@media screen and (max-width: 768px) {
  .diagonal-line2 {
    top: 2px;
  }
}

.r-btn {
  margin-right: 0;
  margin-left: auto;
}

.w-btn {
  width: 37.5%;
}
@media screen and (max-width: 768px) {
  .w-btn {
    width: 30%;
  }
}
.w-btn a {
  display: block;
  background-color: #fff;
  color: #110800;
  text-align: center;
  cursor: pointer;
  font-size: clamp(0.625rem, 0.523rem + 0.45vw, 1rem);
  letter-spacing: clamp(-0.009rem, -0.008rem - 0.01vw, -0.015rem);
  line-height: 2.5;
}
.w-btn a span {
  margin: 0 2.5%;
  display: inline-block;
}
.w-btn a .__icon-arrow svg {
  font-size: clamp(0.313rem, 0.227rem + 0.38vw, 0.625rem);
  letter-spacing: 0;
}

.w-btn2 {
  width: 25vw;
}
.w-btn2 a {
  display: block;
  background-color: #fff;
  color: #110800;
  text-align: center;
  cursor: pointer;
  font-size: clamp(0.625rem, 0.386rem + 1.06vw, 1.5rem);
  letter-spacing: clamp(-0.013rem, -0.011rem - 0.01vw, -0.022rem);
  line-height: 3.5;
}
.w-btn2 a span {
  margin: 0 2.5%;
  display: inline-block;
}
.w-btn2 a .__icon-arrow__rev {
  width: 5%;
  vertical-align: middle;
}
.w-btn2 a .__icon-arrow__rev svg {
  width: 100%;
}

.b-btn {
  width: 25vw;
}
@media screen and (max-width: 768px) {
  .b-btn {
    width: 32vw;
  }
}
.b-btn a {
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: clamp(0.625rem, 0.386rem + 1.06vw, 1.5rem);
  letter-spacing: clamp(-0.013rem, -0.011rem - 0.01vw, -0.022rem);
  line-height: 3.5;
}

.c-btn {
  margin-left: auto;
  margin-right: auto;
}

.header-wrap {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #110800;
  z-index: 100;
  height: 77px;
}
.header-wrap__logo {
  width: 159px;
  padding-left: 1.5%;
}
.header-wrap__logo a img {
  width: 100%;
  height: 100%;
  display: block;
}
.header-wrap__nav {
  width: 45%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .header-wrap__nav {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header-wrap__nav {
    width: 65%;
    padding-right: 2.5%;
  }
}
.header-wrap__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrap__nav__list__item a {
  font-weight: 700;
  display: block;
  font-size: 15px;
  letter-spacing: -0.23px;
}
.header-wrap__nav__list__item__contact {
  width: 25%;
  white-space: nowrap;
}
.header-wrap__nav__list__item__contact a {
  background-color: #fe4d02;
  padding: 7.5% 30%;
  font-size: 17px;
  letter-spacing: -0.26px;
}
@media screen and (max-width: 1024px) {
  .header-wrap__nav__list__item__contact a {
    padding: 7.5% 20%;
  }
}
.header-wrap__nav__list__item__contact a:hover {
  opacity: 1;
  background-color: #fff;
  color: #fe4d02;
}

.h-open {
  display: none;
  position: absolute;
  z-index: 9999;
  right: 0;
  cursor: pointer;
  width: 80px;
  height: 100%;
  text-align: center;
}
.h-open span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 24px;
  height: 2.5px;
  border-radius: 2px;
  background-color: #fff;
  width: 40%;
}
.h-open span:nth-of-type(1) {
  top: 30px;
}
.h-open span:nth-of-type(2) {
  top: 40px;
}
.h-open span:nth-of-type(3) {
  top: 50px;
}
.h-open.active span:nth-of-type(1) {
  top: 33px;
  left: 24px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}
.h-open.active span:nth-of-type(2) {
  opacity: 0;
}
.h-open.active span:nth-of-type(3) {
  top: 45px;
  left: 24px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}
@media screen and (max-width: 768px) {
  .h-open {
    display: block;
  }
}

#h-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 50%;
  height: 100vh;
  background-color: #110800;
  transition: all 0.6s;
}
#h-nav__list__first {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}
#h-nav__list__first li {
  margin: 10% 15%;
  width: 55%;
}
#h-nav__list__first li a img {
  width: 100%;
}
#h-nav__list__second {
  position: absolute;
  z-index: 999;
  top: 25%;
  left: 22.5%;
  transform: translateY(-50%) translateX(-50%);
}
#h-nav__list__second li {
  margin: 35% 0;
}
#h-nav__list__second li a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: block;
  font-size: 14px;
  letter-spacing: -0.21px;
}
#h-nav__list__third {
  position: absolute;
  z-index: 999;
  top: 45%;
  left: 32.5%;
  transform: translateY(-50%) translateX(-50%);
}
#h-nav__list__third li a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: block;
  font-size: 17px;
  letter-spacing: -0.255px;
  width: 160px;
  text-align: center;
  line-height: 2.75;
  background-color: #fe4d02;
  white-space: nowrap;
}

#h-nav.panelactive {
  right: 0;
}

.our-wrap {
  background-image: url(../img/our-missing.jpeg);
  background-position: 50%;
  background-size: cover;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 50vh;
}
@media screen and (max-width: 1024px) {
  .our-wrap {
    height: 30vh;
  }
}
.our-wrap::after {
  content: "";
  background-color: rgba(17, 8, 0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.our-wrap__ttl {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.our-wrap__ttl h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(1.25rem, 0.773rem + 2.12vw, 3rem);
  letter-spacing: 0;
}
.our-wrap__ttl p {
  line-height: 1.7;
  width: 100%;
  margin-top: 50px;
  font-size: clamp(0.625rem, 0.523rem + 0.45vw, 1rem);
  letter-spacing: clamp(-0.009rem, -0.008rem - 0.01vw, -0.015rem);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .our-wrap__ttl p {
    font-size: clamp(0.5rem, 0.186rem + 1.05vw, 0.688rem);
    letter-spacing: clamp(0.007rem, 0.003rem + 0.02vw, 0.01rem);
  }
}

.footer {
  background-image: url(../img/footer-bg.jpeg);
  background-position: 50%;
  background-size: cover;
  position: relative;
  z-index: 0;
  width: 100%;
}
.footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: rgba(17, 8, 0, 0.8);
}
.footer-wrap {
  padding: 4% 0 2%;
}
@media screen and (max-width: 768px) {
  .footer-wrap {
    padding: 8% 0 2%;
  }
}
.footer-wrap__btn__circle {
  width: 6%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #fe4d02;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .footer-wrap__btn__circle {
    margin-bottom: -6.5%;
    width: 9%;
  }
}
.footer-wrap__btn__circle a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-wrap__btn__circle a svg {
  width: 40%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .footer-wrap__btn__circle a svg {
    width: 60%;
  }
}
.footer-wrap__con {
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer-wrap__con {
    display: block;
  }
}
.footer-wrap__con__left {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .footer-wrap__con__left {
    width: 100%;
  }
}
.footer-wrap__con__left h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, 1.091rem + 1.82vw, 3rem);
  letter-spacing: clamp(-0.022rem, -0.016rem - 0.03vw, -0.045rem);
}
@media screen and (max-width: 768px) {
  .footer-wrap__con__left h2 {
    font-size: clamp(1.25rem, 0.098rem + 3.83vw, 1.938rem);
    letter-spacing: clamp(-0.019rem, -0.001rem - 0.06vw, -0.029rem);
  }
}
.footer-wrap__con__left h2 span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.545rem + 0.91vw, 1.5rem);
  letter-spacing: clamp(-0.011rem, -0.008rem - 0.01vw, -0.022rem);
  display: block;
  font-weight: 500;
  line-height: 3;
}
@media screen and (max-width: 768px) {
  .footer-wrap__con__left h2 span {
    font-size: clamp(0.625rem, 0.101rem + 1.74vw, 0.938rem);
    letter-spacing: clamp(-0.009rem, -0.002rem - 0.03vw, -0.014rem);
  }
}
.footer-wrap__con__right {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .footer-wrap__con__right {
    margin: 3% 0 6%;
  }
}
.footer-wrap__con__right__btn {
  width: 55%;
}
@media screen and (max-width: 768px) {
  .footer-wrap__con__right__btn {
    width: 80%;
  }
}
.footer-wrap__con__right__btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fe4d02;
  border-radius: 6px;
  width: 100%;
  line-height: 3;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 0.864rem + 0.61vw, 1.5rem);
  letter-spacing: clamp(-0.015rem, -0.013rem - 0.01vw, -0.022rem);
}
.footer-wrap__con__right__btn a:hover {
  background-color: #fff;
  color: #fe4d02;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .footer-wrap__con__right__btn a {
    line-height: 2.5;
  }
}
.footer-wrap__link {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
}
@media screen and (max-width: 768px) {
  .footer-wrap__link {
    margin-top: 0;
  }
}
.footer-wrap__link__logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .footer-wrap__link__logo {
    width: 28%;
  }
}
.footer-wrap__link__logo__first img {
  width: 100%;
  display: block;
}
.footer-wrap__link__logo__second p {
  font-size: clamp(0.625rem, 0.54rem + 0.38vw, 0.938rem);
  letter-spacing: clamp(-0.009rem, -0.008rem - 0.01vw, -0.014rem);
  line-height: 4;
  font-weight: 500;
}
.footer-wrap__link__nav {
  width: 35%;
}
@media screen and (max-width: 1024px) {
  .footer-wrap__link__nav {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .footer-wrap__link__nav {
    width: 45%;
  }
}
.footer-wrap__link__nav__list {
  display: flex;
  justify-content: space-between;
}
.footer-wrap__link__nav__list__item a {
  font-size: clamp(0.75rem, 0.661rem + 0.29vw, 0.938rem);
  letter-spacing: clamp(-0.011rem, -0.007rem - 0.02vw, -0.014rem);
}
@media screen and (max-width: 1024px) {
  .footer-wrap__link__nav__list__item a {
    font-size: clamp(0.75rem, 0.695rem + 0.18vw, 0.813rem);
    letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.012rem);
  }
}
@media screen and (max-width: 768px) {
  .footer-wrap__link__nav__list__item a {
    font-size: clamp(0.625rem, 0.416rem + 0.7vw, 0.75rem);
    letter-spacing: clamp(-0.009rem, -0.006rem - 0.01vw, -0.011rem);
  }
}
.footer-wrap__copyright {
  text-align: center;
}
.footer-wrap__copyright small {
  font-size: clamp(0.625rem, 0.54rem + 0.38vw, 0.938rem);
  letter-spacing: clamp(-0.009rem, -0.008rem - 0.01vw, -0.014rem);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-weight: 500;
}
