html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  background-color: #110800;
  line-height: 1;
  letter-spacing: 0;
  word-break: break-all;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.initial-text__sub {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(2.25rem, 1.227rem + 4.55vw, 6rem);
  letter-spacing: clamp(-0.034rem, -0.018rem - 0.07vw, -0.09rem);
  color: #fe4d02;
}

@media screen and (max-width: 480px) {
  .breadcrumb {
    margin: 5.5% 0 5.5% 5.5%;
  }
}
.breadcrumb-wrap__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-wrap__nav__list__item {
  margin-right: 0.5%;
  vertical-align: middle;
}
.breadcrumb-wrap__nav__list__item a {
  vertical-align: bottom;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.682rem + 0.3vw, 1rem);
  letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.015rem);
}
.breadcrumb-wrap__nav__list__item p {
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.682rem + 0.3vw, 1rem);
  letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.015rem);
  margin-top: 2px;
}
@media screen and (max-width: 1024px) {
  .breadcrumb-wrap__nav__list__item p {
    margin-top: 2px;
  }
}
@media screen and (max-width: 768px) {
  .breadcrumb-wrap__nav__list__item p {
    margin-top: 3px;
  }
}

@media screen and (max-width: 480px) {
  .fea {
    margin: 12.5% 0;
  }
}
.fea-wrap__ttl {
  position: relative;
}
@media screen and (max-width: 480px) {
  .fea-wrap__ttl {
    margin-left: 5.5%;
  }
}
.fea-wrap__ttl h2 {
  font-size: clamp(1rem, 0.864rem + 0.61vw, 1.5rem);
  letter-spacing: clamp(-0.015rem, -0.013rem - 0.01vw, -0.022rem);
  margin-left: 7.5%;
}
@media screen and (max-width: 768px) {
  .fea-wrap__ttl h2 {
    font-size: clamp(0.75rem, 0.122rem + 2.09vw, 1.125rem);
    letter-spacing: clamp(-0.011rem, -0.002rem - 0.03vw, -0.017rem);
  }
}
@media screen and (max-width: 480px) {
  .fea-wrap__ttl h2 {
    font-size: 1rem;
    margin-left: 10.5%;
  }
}
.fea-wrap__ttl::before {
  position: absolute;
  content: "";
  width: 5%;
  height: 4px;
  top: 50%;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  .fea-wrap__ttl::before {
    width: 8%;
  }
}
