html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  background-color: #110800;
  line-height: 1;
  letter-spacing: 0;
  word-break: break-all;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

body {
  background-color: #fff;
  color: #110800;
}

a {
  color: #110800;
}

.header a {
  color: #fff;
}

.top-wrap {
  background-image: url("../img/news-bg.jpeg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 60vh;
}
@media screen and (max-width: 1024px) {
  .top-wrap {
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .top-wrap {
    height: 35vh;
  }
}
@media screen and (max-width: 480px) {
  .top-wrap {
    height: 60vh;
  }
}
.top-wrap__ttl {
  position: absolute;
  top: 50%;
  left: 7.5%;
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
}
@media screen and (max-width: 768px) {
  .top-wrap__ttl {
    top: 67.5%;
  }
}
@media screen and (max-width: 480px) {
  .top-wrap__ttl {
    top: 77.5%;
    left: 10%;
  }
}
.top-wrap__ttl h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0;
  font-size: clamp(1.25rem, 0.636rem + 2.73vw, 3.5rem);
  letter-spacing: clamp(-0.019rem, -0.01rem - 0.04vw, -0.052rem);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 15% 0 12%;
  }
}
@media screen and (max-width: 480px) {
  .content-wrap {
    width: 90%;
  }
}
.content-wrap > * {
  margin-bottom: 5%;
}
@media screen and (max-width: 480px) {
  .content-wrap > * {
    margin-bottom: 7%;
  }
}
.content-wrap__date p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.545rem + 0.91vw, 1.5rem);
  letter-spacing: clamp(-0.011rem, -0.008rem - 0.01vw, -0.022rem);
}
@media screen and (max-width: 768px) {
  .content-wrap__date p {
    font-size: clamp(0.75rem, 0.436rem + 1.05vw, 0.938rem);
    letter-spacing: clamp(-0.011rem, -0.007rem - 0.02vw, -0.014rem);
  }
}
.content-wrap__ttl {
  margin-bottom: 8%;
}
.content-wrap__ttl h2 {
  font-size: clamp(1.25rem, 1.114rem + 0.61vw, 1.75rem);
  letter-spacing: clamp(-0.019rem, -0.017rem - 0.01vw, -0.026rem);
}
@media screen and (max-width: 768px) {
  .content-wrap__ttl h2 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .content-wrap__ttl h2 {
    margin-bottom: 10%;
  }
}
.content-wrap__img {
  width: 100%;
  aspect-ratio: 2/1;
}
.content-wrap__img img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-wrap__txt p {
  font-size: clamp(0.625rem, 0.523rem + 0.45vw, 1rem);
  letter-spacing: clamp(-0.009rem, -0.008rem - 0.01vw, -0.015rem);
  line-height: 2;
  font-weight: 500;
}
.content-wrap .b-btn {
  margin-top: 7.5%;
}
@media screen and (max-width: 480px) {
  .content-wrap .b-btn {
    margin-top: 10%;
  }
}
.content-wrap .b-btn a span {
  margin: 0 2.5%;
  display: inline-block;
  vertical-align: middle;
}
.content-wrap .b-btn a .__icon-arrow__rev {
  vertical-align: sub;
  width: 5%;
}
@media screen and (max-width: 480px) {
  .content-wrap .b-btn a .__icon-arrow__rev {
    width: 8%;
  }
}
.content-wrap .b-btn a .__icon-arrow__rev svg {
  width: 100%;
}

.footer h2, .footer a, .footer small {
  color: #fff;
}
