html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  background-color: #110800;
  line-height: 1;
  letter-spacing: 0;
  word-break: break-all;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.7s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

body {
  background-color: #fff;
  color: #110800;
}

a {
  color: #110800;
}

.header a {
  color: #fff;
}

.top-wrap {
  background-image: url("../img/news-bg.jpeg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 70vh;
}
.top-wrap__ttl {
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translateY(-25%);
}
.top-wrap__ttl h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0;
  font-size: clamp(1.25rem, 0.636rem + 2.73vw, 3.5rem);
  letter-spacing: clamp(-0.019rem, -0.01rem - 0.04vw, -0.052rem);
  color: #fff;
}

.article-wrap__block {
  margin: 2.5% 0;
}
.article-wrap__block__link {
  display: flex;
  justify-content: space-between;
  color: #110800;
}
.article-wrap__block__link__img {
  width: 25%;
  aspect-ratio: 3/2;
}
.article-wrap__block__link__img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-wrap__block__link__txt {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.article-wrap__block__link__txt__ttl h3 {
  font-size: clamp(1.125rem, 0.955rem + 0.76vw, 1.75rem);
  letter-spacing: clamp(-0.017rem, -0.014rem - 0.01vw, -0.026rem);
}
.article-wrap__block__link__txt__para p {
  font-size: clamp(0.625rem, 0.523rem + 0.45vw, 1rem);
  letter-spacing: clamp(-0.009rem, -0.008rem - 0.01vw, -0.015rem);
  line-height: 2;
  font-weight: 500;
}
.article-wrap__block__link__txt__date p {
  font-size: clamp(0.875rem, 0.773rem + 0.45vw, 1.25rem);
  letter-spacing: clamp(-0.013rem, -0.012rem - 0.01vw, -0.019rem);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-weight: 500;
}
.article-wrap__btn {
  margin-top: 7.5%;
}
.article-wrap__btn__list {
  display: flex;
  justify-content: center;
  width: 100%;
}
.article-wrap__btn__list__item {
  width: 9%;
  text-align: center;
}
.article-wrap__btn__list__item__link {
  color: #fe4d02;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: clamp(0.625rem, 0.386rem + 1.06vw, 1.5rem);
  letter-spacing: clamp(-0.013rem, -0.011rem - 0.01vw, -0.022rem);
  padding: 20% 28%;
}
.article-wrap__btn__list__item__link.__now {
  color: #fff;
  background-color: #fe4d02;
  cursor: default;
  pointer-events: none;
}
.article-wrap__btn__list__item__link.__next {
  color: #fe4d02;
  font-size: clamp(0.625rem, 0.386rem + 1.06vw, 1.5rem);
  letter-spacing: clamp(-0.013rem, -0.011rem - 0.01vw, -0.022rem);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.footer h2, .footer a, .footer small {
  color: #fff;
}
