@charset "UTF-8";

@use "foundation";

@use "global" as g;

body {
  background-color: g.$cWhite;
  color: g.$background-main;
}

a {
  color: g.$background-main;
}

.header {
  & a {
    color: g.$cWhite;
  }
}

// top
.top {
  &-wrap {
    background-image: url("../img/blog-bg.jpeg");
    background-size: cover;
    background-position: 50% 35%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 70vh;
    @include g.mq(pc) {
      height: 50vh;
    }
    @include g.mq(tab) {
      height: 35vh;
    }
    @include g.mq(sp) {
      height: 60vh;
    }

    &__ttl {
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-25%);
      @include g.mq(tab) {
        top: 67.5%;
      }
      @include g.mq(sp) {
        top: 77.5%;
        left: 10%;
      }

      & h1 {
        @include g.font-en-b;
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0;
        @include g.font-20-56__15;
      }
    }
  }
}

.article {
  &-wrap {
    &.__inner2 {
      @include g.mq(tab) {
        width: 82.5%;
      }
      @include g.mq(sp) {
        width: 90%;
      }
    }
    &__block {
      margin: 2.5% 0;
      @include g.mq(tab) {
        margin: 5% 0;
      }
      @include g.mq(sp) {
        margin: 10% 0;
      }
      &__link {
        display: flex;
        justify-content: space-between;
        color: g.$background-main;
        &__txt {
          &__ttl {
            @include g.mq(sp) {
              text-align: center;
            }
            & h3 {
              @include g.font-16-28__15;
              line-height: 2;
              @include g.mq(tab) {
                line-height: 3;
              }
            }
          }
          &__para {
            @include g.mq(sp) {
              margin-top: 2%;
            }
            & p {
              @include g.font-10-16__15;
              line-height: 2;
              font-weight: 500;
            }
          }
          &__date {
            & p {
              @include g.font-10-16__15;
              font-weight: 500;
              line-height: 2;
            }
          }
        }
      }
    }
    &__btn {
      margin-top: 7.5%;
      @include g.mq(sp) {
        margin-bottom: 12%;
        margin-top: 12.5%;
      }
      &__list {
        display: flex;
        justify-content: center;
        &__item {
          width: 9%;
          white-space: nowrap;
          @include g.mq(sp) {
            width: 13%;
          }
          text-align: center;
          &__link {
            color: g.$cBrand-color;
            @include g.font-en-b;
            @include g.font-14-24__15;
            padding: 14% 22%;
            @include g.mq(tab) {
              padding: 20% 28%;
            }
            @include g.mq(sp) {
              font-size: 0.875rem;
            }
            &.__now {
              color: g.$cWhite;
              background-color: g.$cBrand-color;
              cursor: default;
              pointer-events: none;
            }
            &.__next {
              color: g.$cBrand-color;
              @include g.font-14-24__15;
              @include g.font-jp-b;
              white-space: nowrap;
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  & h2,
  & a,
  & small {
    color: g.$cWhite;
  }
}

ul.bogo-language-switcher li:nth-of-type(1) {
  color: g.$cWhite;
  & a {
    color: g.$cWhite;
  }
}

ul.bogo-language-switcher li:nth-of-type(2) {
  color: g.$cWhite;
  & a {
    color: g.$cWhite;
  }
}
