@charset "UTF-8";

@use "foundation";

@use "global" as g;

// top
.top {
  &-wrap {
    background-image: url("../img/service-bg.jpeg");
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 60vh;
    @include g.mq(pc) {
      height: 50vh;
    }
    @include g.mq(tab) {
      height: 35vh;
    }
    @include g.mq(sp) {
      height: 60vh;
    }

    &__ttl {
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-25%);
      @include g.mq(tab) {
        top: 67.5%;
      }
      @include g.mq(sp) {
        top: 77.5%;
        left: 10%;
      }

      & h1 {
        @include g.font-en-b;
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0;
        @include g.font-20-56__15;
      }
    }
  }
}

.case {
  margin-bottom: 0;
  &-wrap {
    &__con {
      &__block {
        @include g.mq(sp) {
          margin: 18% 0 10%;
        }
        position: relative;
        width: 100%;
        height: 100%;
        margin: 7.5% 0;
        &__body.__inner2 {
          @include g.mq(tab) {
            width: 80%;
          }
          @include g.mq(sp) {
            width: 87.5%;
          }
        }
        &.__first::before {
          content: "blockchain";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 4%;
          left: 0;
          z-index: -10;
          font-size: clamp(3rem, -0.784rem + 16.82vw, 16.875rem);
          background: linear-gradient(
            to bottom right,
            g.$cBrand-color-2-clear,
            g.$cBrand-color-clear
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          overflow: hidden;
          @include g.mq(sp) {
            @include g.font-56-72__15__sp;
            top: 6%;
          }
        }
        &.__second::before {
          content: "quantum\A computer";
          position: absolute;
          width: 100%;
          bottom: -10.5%;
          right: 1%;
          z-index: -10;
          text-align: right;
          font-size: clamp(3rem, -0.784rem + 16.82vw, 16.875rem);
          background: linear-gradient(
            to bottom right,
            g.$cBrand-color-2-clear,
            g.$cBrand-color-clear
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          overflow: hidden;
          white-space: pre;
          @include g.mq(pc) {
            bottom: -10%;
          }
          @include g.mq(tab) {
            bottom: -8%;
          }
          @include g.mq(sp) {
            bottom: 9%;
          }
        }
        &__ttl {
          position: relative;
          @include g.mq(sp) {
            margin-left: 5.5%;
          }
          & h2 {
            @include g.font-16-24__15;
            margin-left: 7.5%;
            @include g.mq(sp) {
              margin-left: 10.5%;
            }
          }
          &::before {
            position: absolute;
            content: "";
            width: 5%;
            height: 4px;
            top: 50%;
            background-color: g.$cWhite;
            @include g.mq(sp) {
              width: 8%;
            }
          }
        }
        &__head {
          margin: 6% 0 4%;
          & h3 {
            @include g.font-20-28__15;
          }
          @include g.mq(sp) {
            text-align: center;
            margin: 12% 0;
          }
        }
        &__txt {
          margin: 4% 0;
          & p {
            @include g.font-10-20__15;
            font-weight: 500;
            line-height: 2;
          }
          @include g.mq(sp) {
            margin: 7.5% 0;
          }
        }
        &__img {
          width: 100%;
          aspect-ratio: 51 / 19;
          & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
          & .__second {
            object-position: center top;
          }
        }
        &__head2 {
          margin: 4% 0;
          & h3 {
            @include g.font-20-28__15;
          }
          @include g.mq(sp) {
            text-align: center;
            margin: 12% 0;
          }
        }
        &__txt2 {
          & p {
            @include g.font-10-20__15;
            font-weight: 500;
            line-height: 2;
          }
        }
      }
    }
  }
}

.w-btn2 {
  margin-top: 5%;
  @include g.mq(sp) {
    margin-top: 15%;
  }
}
