@charset "UTF-8";

@use "foundation";

@use "global" as g;

// common
.initial-text__sub {
  @include g.font-en-b;
  @include g.font-36-96__15;
  color: g.$cBrand-color;
}

.breadcrumb {
  &-wrap {
    &__nav {
      &__list {
        display: flex;
        align-items: center;
        &__item {
          margin-right: 10px;

          vertical-align: middle;
          & a {
            vertical-align: bottom;
            @include g.font-en-b;
            @include g.font-12-16__15;
          }
          & p {
            vertical-align: middle;
            @include g.font-en-b;
            @include g.font-12-16__15;
          }
        }
      }
    }
  }
}

// fea
.fea {
  &-wrap {
    &__ttl {
      position: relative;
      & h2 {
        @include g.font-16-24__15;
        margin-left: 7.5%;
      }
      &::before {
        position: absolute;
        content: "";
        width: 5%;
        height: 4px;
        top: 50%;
        background-color: g.$cWhite;
      }
    }
  }
}
