@charset "UTF-8";

@use "foundation";

@use "global" as g;

// common-main
@include g.mq(pc_L) {
  .__pc {
    display: none;
  }
  .__tab {
    display: none;
  }
  .__sp {
    display: none;
  }
}

@include g.mq(pc) {
  .__pc {
    display: inline-block;
  }
  .__tab {
    display: none;
  }
  .__sp {
    display: none;
  }
}

@include g.mq(tab) {
  .__pc {
    display: none;
  }
  .__tab {
    display: inline-block;
  }
  .__sp {
    display: none;
  }
}

@include g.mq(sp) {
  .__pc {
    display: none;
  }
  .__tab {
    display: none;
  }
  .__sp {
    display: inline-block;
  }
}

.initial-text {
  @include g.font-en-b;
  @include g.font-36-72__0;
  color: g.$cBrand-color;
}

.ttl__sub {
  @include g.font-jp-b;
  @include g.font-16-32__15;
}

.s-ttl__sub {
  @include g.font-jp-b;
  @include g.font-14-28__15;
  display: block;
  color: g.$cWhite;
  @include g.mq(sp) {
    line-height: 1.6;
  }
}

.c-ttl {
  @include g.font-en-b;
  @include g.font-20-48__15;
  text-align: center;
}

.__inner {
  width: 90%;
  margin: 0 auto;
}

.__inner2 {
  width: 75%;
  margin: 0 auto;
}

.__inner3 {
  width: 95%;
  margin: 0 auto;
}

.__inner4 {
  width: 60%;
  margin: 0 auto;
}

.__inner5 {
  width: 72.5%;
  margin: 0 auto;
}

.__section1 {
  margin: 10% 0;
}

.__section2 {
  margin: 2.5% 0;
}

.__section3 {
  margin: 7.5% 0;
}

.__section4 {
  margin-top: 10%;
}

.__section5 {
  margin-bottom: 7.5%;
}

.__section6 {
  margin: 5% 0;
}

.outer-btn-s {
  width: 40%;
  background: linear-gradient(
    to bottom right,
    g.$cBrand-color-2,
    g.$cBrand-color
  );
  border-radius: 50px;
  padding: 2px;
  @include g.mq(tab) {
    width: 40%;
  }
  @include g.mq(sp) {
    width: 45%;
  }
}

.inner-btn-s {
  width: 100%;
  line-height: 2.5;
  background: g.$background-main;
  border-radius: 50px;
  text-align: center;
}

.__arrow {
  height: 100%;
  @include g.flex(center);
  @include g.font-12-24__15;
  background-image: linear-gradient(
    to bottom right,
    g.$cBrand-color-2,
    g.$cBrand-color
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  gap: 10%;
  position: relative;

  &:hover {
    opacity: 1;
  }
  @include g.mq(tab) {
    @include g.font-11-15__15__tab;
  }
}

.fadeOut {
  animation: fadeOutAnime 0.2s forwards;
  opacity: 0;
}

@keyframes fadeOutAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

.fadeIn {
  animation: fadeInAnime 0.2s forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.__text {
  margin-top: -2.5px;
}

.__icon-arrow svg {
  transform: rotate(90deg);
}

.__icon-arrow__rev svg {
  transform: rotate(-90deg);
}

.simple1-1 {
  position: relative;
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.arrow-part1 {
  display: block;
  width: 16px; /* 横線部分の幅 */
  height: 2px; /* 横線部分の高さ */
  background-color: g.$cBrand-color;
  @include g.mq(tab) {
    width: 12px;
  }
}

.diagonal-line1,
.diagonal-line2 {
  display: block;
  width: 8px; /* 斜め線の長さ */
  height: 2px; /* 斜め線の太さ */
  background-color: g.$cBrand-color; /* 斜め線の色 */
  position: absolute;
  right: 0;
  transition: all 0.2s;
  @include g.mq(tab) {
    width: 6px;
  }
}

.diagonal-line1 {
  transform: rotate(45deg); /* 斜め線の角度調整 */
  top: -3px; /* 上からの位置 */
  @include g.mq(tab) {
    top: -2px;
  }
}

.diagonal-line2 {
  transform: rotate(-45deg); /* 斜め線の角度調整 */
  top: 3px; /* 上からの位置 */
  @include g.mq(tab) {
    top: 2px;
  }
}

// ここまで

.r-btn {
  margin-right: 0;
  margin-left: auto;
}

.w-btn {
  width: 37.5%;
  @include g.mq(tab) {
    width: 30%;
  }
  @include g.mq(sp) {
    width: 35%;
  }
  & a {
    display: block;
    background-color: g.$cWhite;
    color: g.$background-main;
    text-align: center;
    cursor: pointer;
    @include g.font-10-16__15;
    line-height: 2.5;
    & span {
      margin: 0 2.5%;
      display: inline-block;
    }
    & .__icon-arrow {
      & svg {
        @include g.font-5-10__0;
      }
    }
    @include g.mq(sp) {
      line-height: 2.7;
      @include g.font-7-10__15__sp;
    }
  }
}

.w-btn2 {
  width: 25vw;
  & a {
    display: block;
    background-color: g.$cWhite;
    color: g.$background-main;
    text-align: center;
    cursor: pointer;
    @include g.font-14-24__15;
    line-height: 3.5;
    & span {
      margin: 0 2.5%;
      display: inline-block;
    }

    & .__icon-arrow__rev {
      width: 5%;
      vertical-align: middle;
      @include g.mq(sp) {
        width: 8%;
      }
      & svg {
        width: 100%;
      }
    }
    @include g.mq(sp) {
      line-height: 3;
      font-size: 1rem;
    }
  }
  @include g.mq(sp) {
    width: 50vw;
  }
}

.b-btn {
  width: 25vw;
  @include g.mq(tab) {
    width: 32vw;
  }
  @include g.mq(sp) {
    width: 60%;
  }
  & a {
    display: block;
    background-color: g.$cBlack;
    color: g.$cWhite;
    text-align: center;
    cursor: pointer;
    @include g.font-14-24__15;
    line-height: 3.5;
    @include g.mq(sp) {
      line-height: 3;
      font-size: 1rem;
    }
  }
}

.c-btn {
  margin-left: auto;
  margin-right: auto;
}

// header
.header {
  &-wrap {
    position: fixed;
    width: 100%;
    @include g.flex;
    background-color: g.$background-main;
    z-index: 100;
    height: 77px;

    &__logo {
      width: 159px;
      padding-left: 2.5%;
      @include g.mq(tab) {
        padding-left: 3.5%;
      }
      @include g.mq(sp) {
        padding-left: 6.5%;
        width: 170px;
      }

      & a {
        & img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }

    &__nav {
      @include g.mq(tab) {
        display: none;
      }
      width: 45%;
      padding-right: 5%;
      @include g.mq(pc) {
        width: 65%;
        padding-right: 2.5%;
      }

      &__list {
        @include g.flex;

        &__item {
          & a {
            font-weight: 700;
            display: block;
            @include g.font-15-15;
          }

          &__contact {
            width: 25%;
            white-space: nowrap;

            & a {
              background-color: g.$cBrand-color;
              padding: 7.5% 30%;
              @include g.font-17-15;
              @include g.mq(pc) {
                padding: 7.5% 20%;
              }
              &:hover {
                opacity: 1;
                background-color: g.$cWhite;
                color: g.$cBrand-color;
              }
            }
          }
        }
      }
    }
  }
}

.h-open {
  display: none;
  position: absolute;
  z-index: 9999;
  right: 0;
  cursor: pointer;
  width: 80px;
  height: 100%;
  text-align: center;

  & span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 24px;
    height: 2.5px;
    border-radius: 2px;
    background-color: g.$cWhite;
    width: 40%;

    &:nth-of-type(1) {
      top: 28px;
    }
    &:nth-of-type(2) {
      top: 38px;
    }
    &:nth-of-type(3) {
      top: 48px;
    }
  }

  &.active span:nth-of-type(1) {
    top: 33px;
    left: 24px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
  }
  &.active span:nth-of-type(2) {
    opacity: 0;
  }
  &.active span:nth-of-type(3) {
    top: 45px;
    left: 24px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
  }
  @include g.mq(tab) {
    display: block;
  }
}

#h-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 50%;
  height: 100vh;
  background-color: g.$background-main;
  transition: all 0.6s;
  @include g.mq(sp) {
    width: 100%;
  }

  &__list__first {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    & li {
      margin: 10% 15%;
      width: 55%;
      @include g.mq(sp) {
        margin: 7.5% 15%;
      }
      & a {
        & img {
          width: 100%;
        }
      }
    }
  }
  &__list__second {
    position: absolute;
    z-index: 999;
    top: 25%;
    left: 22.5%;
    transform: translateY(-50%) translateX(-50%);
    @include g.mq(sp) {
      top: 36%;
    }
    & li {
      margin: 35% 0;
      @include g.mq(sp) {
        margin: 40% 0;
      }
      & a {
        @include g.font-en-b;
        display: block;
        font-size: 14px;
        letter-spacing: -0.21px;
      }
    }
  }
  &__list__third {
    position: absolute;
    z-index: 999;
    top: 45%;
    left: 32.5%;
    transform: translateY(-50%) translateX(-40%);
    @include g.mq(sp) {
      top: 62%;
    }
    & li {
      & a {
        @include g.font-en-b;
        display: block;
        font-size: 17px;
        letter-spacing: -0.255px;
        width: 160px;
        text-align: center;
        line-height: 2.75;
        background-color: g.$cBrand-color;
        white-space: nowrap;
      }
    }
  }
}

#h-nav.panelactive {
  right: 0;
}

// our
.our {
  &-wrap {
    background-image: url(../img/our-missing.jpeg);
    background-position: 50%;
    background-size: cover;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 50vh;
    @include g.mq(pc) {
      height: 30vh;
    }
    &::after {
      content: "";
      background-color: rgba(17, 8, 0, 0.9);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__ttl {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      & h2 {
        @include g.font-en-b;
        @include g.font-20-48__0;
      }

      & p {
        line-height: 1.7;
        width: 100%;
        margin-top: 50px;
        @include g.font-10-16__15;
        font-weight: 500;
        @include g.mq(tab) {
          @include g.font-8-11__15__tab;
          margin-top: 25px;
        }
        @include g.mq(sp) {
          margin-top: 15px;
        }
      }
    }
  }
}

// footer
.footer {
  background-image: url(../img/footer-bg.jpeg);
  background-position: 50%;
  background-size: cover;
  position: relative;
  z-index: 0;
  width: 100%;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: rgba(17, 8, 0, 0.8);
  }

  &-wrap {
    padding: 4% 0 2%;
    @include g.mq(tab) {
      padding: 8% 0 2%;
    }
    @include g.mq(sp) {
      width: 87.5%;
      padding: 8% 0 6%;
    }
    &__btn {
      &__circle {
        width: 6%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: g.$cBrand-color;
        margin-left: auto;
        margin-right: 0;
        @include g.mq(tab) {
          margin-bottom: -6.5%;
          width: 9%;
        }
        @include g.mq(sp) {
          margin-bottom: 6.5%;
          width: 15%;
        }
        & a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          & svg {
            width: 40%;
            height: auto;
            @include g.mq(tab) {
              width: 60%;
            }
          }
        }
      }
    }

    &__con {
      display: flex;
      @include g.mq(tab) {
        display: block;
      }
      &__left {
        width: 60%;
        @include g.mq(tab) {
          width: 100%;
        }
        & h2 {
          @include g.font-en-b;
          @include g.font-24-48__15;
          @include g.mq(tab) {
            @include g.font-20-31__15__tab;
          }
          @include g.mq(sp) {
            @include g.font-24-32__15__sp;
          }

          & span {
            @include g.font-jp-b;
            @include g.font-12-24__15;
            display: block;
            font-weight: 500;
            line-height: 3;
            @include g.mq(tab) {
              @include g.font-10-15__15__tab;
            }
            @include g.mq(sp) {
              @include g.font-12-15__15__sp;
            }
          }
        }
      }
      &__right {
        width: 40%;
        @include g.mq(tab) {
          margin: 3% 0 6%;
        }
        @include g.mq(sp) {
          width: 65%;
          margin: 10% 0 15%;
        }
        &__btn {
          width: 55%;
          @include g.mq(tab) {
            width: 80%;
          }
          & a {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: g.$cBrand-color;
            border-radius: 6px;
            width: 100%;
            line-height: 3;
            @include g.font-en-b;
            @include g.font-16-24__15;
            &:hover {
              background-color: g.$cWhite;
              color: g.$cBrand-color;
              opacity: 1;
            }
            @include g.mq(tab) {
              line-height: 2.5;
            }
          }
        }
      }
    }

    &__link {
      display: flex;
      justify-content: space-between;
      margin-top: 15%;
      @include g.mq(tab) {
        margin-top: 0;
      }
      &__logo {
        width: 20%;
        @include g.mq(tab) {
          width: 28%;
        }
        @include g.mq(sp) {
          width: 40%;
        }
        &__first {
          & img {
            width: 100%;
            display: block;
          }
        }
        &__second {
          & p {
            @include g.font-10-15__15;
            line-height: 4;
            font-weight: 500;
            @include g.mq(sp) {
              line-height: 3;
            }
          }
        }
      }
      &__nav {
        width: 35%;
        @include g.mq(pc) {
          width: 40%;
        }
        @include g.mq(tab) {
          width: 45%;
        }
        @include g.mq(sp) {
          width: 24.5%;
        }
        &__list {
          display: flex;
          justify-content: space-between;
          @include g.mq(sp) {
            display: block;
            margin-top: -170%;
          }
          &__item {
            @include g.mq(sp) {
              margin: 20% 0;
            }
            & a {
              @include g.font-12-15__15;
              @include g.mq(pc) {
                @include g.font-12-13__15__pc;
              }
              @include g.mq(tab) {
                @include g.font-10-12__15__tab;
              }
              @include g.mq(sp) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    &__copyright {
      text-align: center;
      @include g.mq(sp) {
        margin-top: 10%;
      }
      & small {
        @include g.font-10-15__15;
        @include g.font-en-b;
        font-weight: 500;
      }
    }
  }
}
