@charset "UTF-8";

@use "foundation";

@use "global" as g;

// common
.initial-text__sub {
  @include g.font-en-b;
  @include g.font-36-96__15;
  color: g.$cBrand-color;
}

.breadcrumb {
  @include g.mq(sp) {
    margin: 5.5% 0 5.5% 5.5%;
  }
  &-wrap {
    &__nav {
      &__list {
        display: flex;
        align-items: center;
        &__item {
          margin-right: 0.5%;

          vertical-align: middle;
          & a {
            vertical-align: bottom;
            @include g.font-en-b;
            @include g.font-12-16__15;
          }
          & p {
            vertical-align: middle;
            @include g.font-en-b;
            @include g.font-12-16__15;
            margin-top: 2px;
            @include g.mq(pc) {
              margin-top: 2px;
            }
            @include g.mq(tab) {
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
}

// fea
.fea {
  @include g.mq(sp) {
    margin: 12.5% 0;
  }
  &-wrap {
    &__ttl {
      position: relative;
      @include g.mq(sp) {
        margin-left: 5.5%;
      }
      & h2 {
        @include g.font-16-24__15;
        margin-left: 7.5%;
        @include g.mq(tab) {
          @include g.font-12-18__15__tab;
        }
        @include g.mq(sp) {
          font-size: 1rem;
          margin-left: 10.5%;
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 5%;
        height: 4px;
        top: 50%;
        background-color: g.$cWhite;
        @include g.mq(sp) {
          width: 8%;
        }
      }
    }
  }
}
