@charset "UTF-8";

@use "foundation";

@use "global" as g;

// top
.top {
  &-wrap {
    background-image: url("../img/company-bg.jpeg");
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 70vh;
    @include g.mq(pc) {
      height: 50vh;
    }
    @include g.mq(tab) {
      height: 35vh;
    }
    @include g.mq(sp) {
      height: 60vh;
    }

    &__ttl {
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-25%);
      @include g.mq(tab) {
        top: 67.5%;
      }
      @include g.mq(sp) {
        top: 77.5%;
        left: 10%;
      }

      & h1 {
        @include g.font-en-b;
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0;
        @include g.font-20-56__15;
      }
    }
  }
}

.greet {
  &.__section2 {
    margin: 5% 0;
    @include g.mq(tab) {
      margin: 5% 0 20%;
    }
  }
  &-wrap {
    &.__inner2 {
      width: 80%;
      @include g.mq(sp) {
        width: 87.5%;
      }
    }
    &__top {
      &__img {
        width: 60%;
        margin: 0 auto;
        aspect-ratio: 794 / 500;
        @include g.mq(sp) {
          width: 100%;
        }
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__ttl {
        margin: 2.5% 0;
        text-align: center;
        @include g.mq(sp) {
          margin: 15% 0;
        }
        & h2 {
          @include g.font-en-b;
          @include g.font-20-48__15;
          color: g.$cBrand-color;
          @include g.mq(tab) {
            line-height: 1.6;
            @include g.mq(tab) {
              @include g.font-20-24__15__tab__sp;
            }
          }
        }
        & p {
          @include g.font-14-24__15;
          line-height: 2;
          margin-top: 1.5%;
          font-weight: 500;
          @include g.mq(tab) {
            @include g.font-14-16__15__tab__sp;
          }
        }
      }
    }
    &__bottom {
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
      @include g.mq(tab) {
        display: block;
      }
      &__img {
        width: 30%;
        aspect-ratio: 1 / 1;
        @include g.mq(tab) {
          margin: 15% auto 10%;
          width: 35%;
        }
        @include g.mq(sp) {
          margin: 32.5% auto 12%;
          width: 60%;
        }
        & img {
          width: 100%;
          display: block;
          object-fit: cover;
        }
      }
      &__txt {
        width: 61.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include g.mq(tab) {
          display: block;
          width: 100%;
        }
        & p {
          font-family: "Shippori Mincho B1", serif;
          &:nth-of-type(1) {
            @include g.font-10-16__15;
            font-weight: 600;
            line-height: 2;
          }
          &:nth-of-type(2) {
            @include g.font-16-36__15;
            font-weight: 700;
            margin-left: auto;
            margin-right: 0;
            @include g.mq(tab) {
              text-align: right;
              margin: 5% 0;
            }
          }
        }
      }
    }
  }
}

.intro {
  overflow: hidden;
  @include g.mq(sp) {
    margin: 32.5% 0 10%;
  }
  &-wrap {
    &.__inner2 {
      width: 80%;
      @include g.mq(sp) {
        width: 85%;
      }
    }
    &__ttl {
      text-align: center;
      & h2 {
        @include g.font-20-36__15;
      }
      & p {
        @include g.font-12-16__15;
        font-weight: 400;
        margin-top: 5%;
        line-height: 1.7;
        @include g.mq(tab) {
          margin-top: 8%;
          @include g.font-10-13__15__tab;
        }
      }
    }

    &__team {
      width: 100%;
      @include g.mq(sp) {
        margin: 15% 0 0;
      }
      &__block {
        &.__margin {
          margin-top: -15%;
        }
        &.__rev {
          background-color: g.$background-main;
        }
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        height: 100%;
        background-color: g.$cBrand-color;
        padding: 10% 0;
        clip-path: polygon(0% 30%, 100% 0, 100% 70%, 0% 100%);
        @include g.mq(tab) {
          clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
          padding: 12% 0 15%;
        }
        @include g.mq(sp) {
          clip-path: polygon(0% 8%, 100% 0, 100% 92%, 0% 100%);
          padding: 20% 0 15%;
        }
        &__item {
          display: flex;
          justify-content: space-between;
          margin-top: 2.5%;
          @include g.mq(tab) {
            display: block;
            margin-top: 0;
          }
          @include g.mq(sp) {
            width: 90%;
          }
          &.__rev {
            flex-flow: row-reverse;
          }
          &__img {
            width: 21%;
            object-fit: 1 / 1;
            margin-top: 5%;
            @include g.mq(tab) {
              margin: 0 auto;
              width: 27.5%;
            }
            @include g.mq(sp) {
              width: 47.5%;
            }
            &.__rev {
              transform: translateY(-35%);
              @include g.mq(tab) {
                transform: translateY(0);
              }
            }
            &.__rev2 {
              @include g.mq(pc) {
                transform: translateY(-15%);
              }
              @include g.mq(tab) {
                transform: translateY(0);
              }
            }
            & img {
              width: 100%;
              display: block;
              object-fit: cover;
            }
          }
          &__con {
            width: 75%;
            @include g.mq(tab) {
              width: 100%;
            }
            &.__rev {
              margin-top: 5%;
              @include g.mq(tab) {
                margin-top: 0;
              }
            }
            &__ttl {
              & h3 {
                @include g.font-en-b;
                @include g.font-14-24__15;
                font-weight: 500;
                @include g.mq(tab) {
                  text-align: center;
                  margin: 3.5% 0;
                }
                @include g.mq(sp) {
                  @include g.font-14-16__15__sp;
                  margin: 6% 0 0;
                }
                & span {
                  margin-left: 5%;
                  @include g.mq(pc) {
                    margin-left: 3%;
                  }
                  @include g.mq(sp) {
                    display: block;
                    line-height: 3;
                  }
                }
              }
            }
            &__icon {
              display: flex;
              align-items: center;
              // gap: 2%;
              margin: 3.5% 0;
              @include g.mq(tab) {
                justify-content: center;
              }
              @include g.mq(sp) {
                gap: 7.5%;
              }
              &__link {
                width: 100px;
                & img {
                  width: 20px;
                  height: 20px;
                }
                & a {
                  @include g.font-16-15;
                  font-weight: 500;
                  text-decoration: underline;
                  vertical-align: text-top;
                  display: inline-block;
                }
              }
            }
            &__txt {
              margin: 3.5% 0;
              & p {
                @include g.font-en-b;
                @include g.font-10-16__15;
                line-height: 1.6;
                font-weight: 500;
                word-break: keep-all;
              }
            }
          }
        }
      }
    }
  }
}

.info {
  margin-bottom: 5%;
  &-wrap {
    &.__inner4 {
      @include g.mq(tab) {
      width: 80%;
      }
      @include g.mq(sp) {
        width: 90%;
      }
    }
    &__ttl {
      & h2 {
        @include g.font-20-36__15;
      }
    }
    &__body {
      &__list {
        margin: 10% 0 7%;
        &__item {
          display: flex;
          align-items: center;
          margin: 3% 0;
          &__left {
            width: 35%;
            & p {
              @include g.font-10-16__15;
              font-weight: 500;
            }
            @include g.mq(sp) {
              width: 25%;
            }
          }
          &__right {
            & p {
              @include g.font-10-18__15;
              font-weight: 500;
              line-height: 1.67;
              &:nth-of-type(1) {
                @include g.font-en-b;
              }
            }
          }
        }
      }
    }
    &__map {
      & iframe {
        display: block;
        width: 100%;
        filter: grayscale(100%);
        @include g.mq(tab) {
          height: 30vh;
        }
      }
    }
  }
}
