@charset "UTF-8";

@use "foundation";

@use "global" as g;

body {
  background-color: g.$cWhite;
  color: g.$background-main;
}

a {
  color: g.$background-main;
}

.header {
  & a {
    color: g.$cWhite;
  }
}

// top
.top {
  &-wrap {
    background-image: url("../img/contact-bg.jpeg");
    background-size: cover;
    background-position: 30%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 60vh;
    @include g.mq(pc) {
      height: 50vh;
    }
    @include g.mq(tab) {
      height: 35vh;
    }
    @include g.mq(sp) {
      height: 60vh;
    }

    &__ttl {
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-25%);
      @include g.mq(tab) {
        top: 67.5%;
      }
      @include g.mq(sp) {
        top: 77.5%;
        left: 10%;
      }

      & h1 {
        @include g.font-en-b;
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0;
        @include g.font-20-56__15;
        color: g.$cWhite;
      }
    }
  }
}

.con {
  margin-bottom: 5%;
  @include g.mq(tab) {
    margin-top: 5%;
  }
  @include g.mq(sp) {
    margin-top: 12%;
    margin-bottom: 10%;
  }
  &-wrap {
    &__txt {
      & p {
        @include g.font-10-18__15;
        line-height: 1.2;
        font-weight: 500;
        text-align: center;
        @include g.mq(tab) {
          line-height: 2;
          @include g.font-10-12__15__tab;
        }
        @include g.mq(sp) {
          line-height: 2.4;
        }
      }
    }
    & .b-btn {
      margin-top: 3.5%;
      @include g.mq(tab) {
        margin-top: 6%;
        margin-bottom: 6%;
      }
      @include g.mq(sp) {
        margin-top: 10%;
      }
      & a {
        & span {
          margin: 0 2.5%;
          display: inline-block;
          vertical-align: middle;
        }
        & .__icon-arrow__rev {
          vertical-align: sub;
          width: 5%;
          @include g.mq(sp) {
            width: 8%;
          }
          & svg {
            width: 100%;
          }
        }
      }
    }
  }
}

.footer {
  & h2,
  & a,
  & small {
    color: g.$cWhite;
  }
}

ul.bogo-language-switcher li:nth-of-type(1) {
  color: g.$cWhite;
  & a {
    color: g.$cWhite;
  }
}

ul.bogo-language-switcher li:nth-of-type(2) {
  color: g.$cWhite;
  & a {
    color: g.$cWhite;
  }
}
