@charset "UTF-8";

@use "foundation";

@use "global" as g;

body {
  background-color: g.$cWhite;
  color: g.$background-main;
}

a {
  color: g.$background-main;
}

.header {
  & a {
    color: g.$cWhite;
  }
}

// top
.top {
  &-wrap {
    background-image: url("../img/contact-bg.jpeg");
    background-size: cover;
    background-position: 30%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 70vh;
    @include g.mq(pc) {
      height: 50vh;
    }
    @include g.mq(tab) {
      height: 35vh;
    }
    @include g.mq(sp) {
      height: 60vh;
    }

    &__ttl {
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-25%);
      @include g.mq(tab) {
        top: 67.5%;
      }
      @include g.mq(sp) {
        top: 77.5%;
        left: 10%;
      }

      & h1 {
        @include g.font-en-b;
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0;
        @include g.font-20-56__15;
        color: g.$cWhite;
      }
    }
  }
}

.contact {
  @include g.mq(sp) {
    margin: 12.5% 0;
  }
  &-wrap {
    &.__inner5 {
      @include g.mq(pc) {
        width: 80%;
      }
      @include g.mq(sp) {
        width: 90%;
      }
    }
    &__para {
      & p {
        @include g.font-12-16__15;
        font-weight: 500;
        line-height: 1.5;
        @include g.mq(tab) {
          @include g.font-10-13__15__tab;
        }
        @include g.mq(sp) {
          font-size: 0.75rem;
          line-height: 2.5;
        }
      }
    }
    &__body {
      @include g.mq(tab) {
        margin: 7.5% 0 12%;
      }
      @include g.mq(sp) {
        margin: 12.5% 0;
      }
      &__form {
        &__block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 4.5% 0;
          @include g.mq(sp) {
            display: block;
            margin: 7.5% 0;
          }
          &__left {
            width: 25%;
            @include g.mq(sp) {
              display: block;
              margin-bottom: 3%;
              width: 100%;
            }
            & p {
              @include g.font-12-18__15;
              display: inline-block;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 1rem;
              }
            }
            & span {
              @include g.font-12-18__15;
              margin-left: 5%;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 1rem;
                margin-left: 2.5%;
              }
            }
          }
          &__right {
            width: 70%;
            @include g.mq(sp) {
              width: 100%;
            }
            & input {
              width: 92%;
              line-height: 3;
              padding-left: 3.5%;
              padding-right: 3.5%;
            }
            & input[type="text"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
            & input[type="url"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
            & input[type="email"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
            & input[type="tel"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
          }
        }
        &__block__second {
          &__label {
            & p {
              @include g.font-12-18__15;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 1rem;
              }
            }
          }
          &__input {
            display: flex;
            flex-wrap: wrap;
            @include g.mq(sp) {
              display: block;
            }
            &__one {
              font-weight: 500;
              width: 100%;
              margin-top: 5%;
              @include g.mq(tab) {
                margin-top: 6%;
              }
              @include g.mq(sp) {
                width: 100%;
                margin-top: 5%;
              }
              & .wpcf7-list-item {
                margin: 0 !important;
                width: 50%;
                &:nth-of-type(3),
                &:nth-of-type(4) {
                  margin-top: 2.5% !important;
                  @include g.mq(tab) {
                    margin-top: 5% !important;
                  }
                }
                &:nth-of-type(2) {
                  @include g.mq(sp) {
                    margin-top: 5% !important;
                  }
                }

                @include g.mq(sp) {
                  width: 100%;
                }

                input[type="radio"] {
                  width: 2em;
                  height: 2em;
                  margin-right: 2.5%;
                  accent-color: g.$background-main;
                  @include g.mq(tab) {
                    width: 1em;
                    height: 1em;
                  }
                }

                .wpcf7-list-item-label {
                  font-weight: 500;
                  @include g.font-12-18__15;
                  vertical-align: middle;
                  @include g.mq(tab) {
                    @include g.font-8-13__15__tab;
                  }
                  @include g.mq(sp) {
                    font-size: 0.75rem;
                  }
                }
              }

              & input {
                width: 2em;
                height: 2em;
                margin-right: 2.5%;
                accent-color: g.$background-main;
                @include g.mq(tab) {
                  width: 1em;
                  height: 1em;
                }
              }
              & label {
                font-weight: 500;
                @include g.font-12-18__15;
                vertical-align: middle;
                @include g.mq(tab) {
                  @include g.font-8-13__15__tab;
                }
                @include g.mq(sp) {
                  font-size: 0.75rem;
                }
              }
            }
          }
        }
        &__block__third {
          &__label {
            & p {
              @include g.font-12-18__15;
              margin-top: 5%;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
                margin-top: 10%;
              }
              @include g.mq(sp) {
                font-size: 1rem;
              }
            }
          }
          &__text {
            box-sizing: border-box;
            width: 100%;
            height: 24rem;
            margin-top: 3%;
            @include g.font-12-18__15;
            line-height: 1.6;
            padding: 1.5% 2.5%;
            @include g.mq(tab) {
              @include g.font-10-13__15__tab;
            }
            @include g.mq(sp) {
              font-size: 0.875rem;
            }
          }
        }
        &__block__fourth {
          &__policy {
            & p {
              @include g.font-10-14__15;
              margin-top: 2.5%;
              @include g.mq(tab) {
                @include g.font-7-10__15__tab;
                margin-top: 7.5%;
              }
              @include g.mq(sp) {
                text-align: center;
                font-size: 0.625rem;
                margin-top: 10%;
              }
              & a {
                text-decoration: underline;
                transition: all 0.1s;
                &:hover {
                  opacity: 1;
                }
                &:active {
                  color: #6d6d6d;
                }
              }
            }
          }
          &__check {
            margin-top: 2.5%;
            @include g.font-12-20__15;
            @include g.mq(tab) {
              margin-left: 0;
              margin-top: 3.5%;
            }
            @include g.mq(sp) {
              text-align: center;
              font-size: 1rem;
              margin-top: 7.5%;
            }
          }
        }
        &__btn {
          width: 25%;
          margin: 2.5% auto 0;
          @include g.mq(tab) {
            margin: 9% auto 0;
            width: 40%;
          }
          @include g.mq(sp) {
            margin: 10% auto 0;
            width: 60%;
          }
        }
      }
    }
  }
}

#number.wpcf7-form-control.wpcf7-radio.inquiry-radio {
  display: flex;
  flex-wrap: wrap;
}

.contact-wrap__body__form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .contact-btn {
    width: 100%; /* Set width to full width */
    z-index: 1;
    color: g.$cWhite;
    background-color: g.$background-main;
    cursor: pointer;
    border: none;
    transition: all 0.7s;
    line-height: 3;
    appearance: none; /* Remove default input styles */
    text-align: center;
    padding-right: 2.5rem; /* Add padding to make space for the icon */
    @include g.font-14-24__15;
    @include g.mq(sp) {
      font-size: 1rem;
    }
    &:hover {
      opacity: 0.7;
    }
    @include g.mq(tab) {
      line-height: 4;
    }
    @include g.mq(sp) {
      line-height: 3;
    }
    position: relative; /* Required for pseudo-element positioning */
  }

  .__icon-arrow {
    position: absolute;
    z-index: 2;
    right: 30%; /* Adjust right position as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent icon from blocking clicks */
    color: g.$cWhite;
    & svg {
      width: 80%; /* Adjust width as needed */
      height: auto; /* Maintain aspect ratio */
    }
  }
}

/* チェックボックスを非表示にする */
.contact-wrap__body__form__block__fourth input {
  display: none;
}

/* ラベルのスタイル */
.contact-wrap__body__form__block__fourth .wpcf7-list-item-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

/* チェックボックスの背景と枠線のスタイル */
.contact-wrap__body__form__block__fourth .wpcf7-list-item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #333;
  background-color: g.$cWhite;
  @include g.mq(tab) {
    width: 15px;
    height: 15px;
    top: 7.5px;
  }
  @include g.mq(sp) {
    top: 17px;
  }
}

.contact-wrap__body__form__block__fourth .wpcf7-form-control-wrap {
  display: block;
}
.contact-wrap__body__form__block__fourth span.wpcf7-list-item {
  margin: 0 30px 0 0; /* 項目右側の余白設定と、デフォルトの左側の余白を打ち消す */
  position: relative;
}
.contact-wrap__body__form__block__fourth .wpcf7-list-item-label {
  cursor: pointer; /* labelにhoverした時にカーソルを表示させる */
  font-size: clamp(
    0.75rem,
    0.614rem + 0.61vw,
    1.25rem
  ); /* 項目のフォントサイズ */
  @include g.mq(sp) {
    font-size: 1rem;
  }
}
.contact-wrap__body__form__block__fourth input[type="checkbox"] {
  opacity: 0; /* デフォルトのチェックボックスを見えなくする */
  position: absolute;
}
.contact-wrap__body__form__block__fourth .wpcf7-list-item-label::before {
  /* チェックボックスのデザイン */
  border: 1px solid #333;
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 15px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
  @include g.mq(tab) {
    height: 15px;
    width: 15px;
  }
}
.contact-wrap__body__form__block__fourth .wpcf7-list-item-label::after {
  /* チェックマークのデザイン */
  content: "";
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: 15px;
  left: 8.5px;
  position: absolute;
  top: 2px;
  transform: rotate(45deg);
  width: 7px;
  opacity: 0;
  transition: opacity 0.2s; /* チェックマークのフェードインをスムーズにする */
  @include g.mq(tab) {
    width: 4px;
    height: 10px;
    left: 5px;
    top: 0;
  }
  @include g.mq(sp) {
    top: 2px;
  }
}

.contact-wrap__body__form__block__fourth
  input[type="checkbox"]:checked
  + .wpcf7-list-item-label::after {
  /* チェックアイコンの表示 */
  opacity: 1;
}
// .contact-wrap__body__form__block__fourth
//   input[type="checkbox"]:checked
//   + label::before {
//   /* チェックしたボックスの背景色を設定 */
//   background-color: #ffffbc;
// }

.footer {
  & h2,
  & a,
  & small {
    color: g.$cWhite;
  }
}

ul.bogo-language-switcher li:nth-of-type(1) {
  color: g.$cWhite;
  & a {
    color: g.$cWhite;
  }
}

ul.bogo-language-switcher li:nth-of-type(2) {
  color: g.$cWhite;
  & a {
    color: g.$cWhite;
  }
}
