@charset "UTF-8";

@use "foundation";

@use "global" as g;

body {
  background-color: g.$cWhite;
  color: g.$background-main;
}

a {
  color: g.$background-main;
}

.header {
  & a {
    color: g.$cWhite;
  }
}

// top
.top {
  &-wrap {
    background-image: url("../img/contact-bg.jpeg");
    background-size: cover;
    background-position: 30%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 70vh;
    @include g.mq(pc) {
      height: 50vh;
    }
    @include g.mq(tab) {
      height: 35vh;
    }
    @include g.mq(sp) {
      height: 60vh;
    }

    &__ttl {
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-25%);
      @include g.mq(tab) {
        top: 67.5%;
      }
      @include g.mq(sp) {
        top: 77.5%;
        left: 10%;
      }

      & h1 {
        @include g.font-en-b;
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0;
        @include g.font-20-56__15;
        color: g.$cWhite;
      }
    }
  }
}

.contact {
  @include g.mq(sp) {
    margin: 12.5% 0;
  }
  &-wrap {
    &.__inner5 {
      @include g.mq(pc) {
        width: 80%;
      }
      @include g.mq(sp) {
        width: 90%;
      }
    }
    &__para {
      & p {
        @include g.font-12-16__15;
        font-weight: 500;
        line-height: 1.5;
        @include g.mq(tab) {
          @include g.font-10-13__15__tab;
        }
        @include g.mq(sp) {
          font-size: 0.75rem;
          line-height: 2.5;
        }
      }
    }
    &__body {
      @include g.mq(tab) {
        margin: 7.5% 0 12%;
      }
      @include g.mq(sp) {
        margin: 12.5% 0;
      }
      &__form {
        &__block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 4.5% 0;
          @include g.mq(sp) {
            display: block;
            margin: 7.5% 0;
          }
          &__left {
            width: 25%;
            @include g.mq(sp) {
              display: block;
              margin-bottom: 3%;
              width: 100%;
            }
            & p {
              @include g.font-12-18__15;
              display: inline-block;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 1rem;
              }
            }
            & span {
              @include g.font-12-18__15;
              margin-left: 5%;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 1rem;
                margin-left: 2.5%;
              }
            }
          }
          &__right {
            width: 70%;
            @include g.mq(sp) {
              width: 100%;
            }
            & input {
              width: 92%;
              line-height: 3;
              padding-left: 3.5%;
              padding-right: 3.5%;
            }
            & input[type="text"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
            & input[type="url"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
            & input[type="email"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
            & input[type="tel"] {
              @include g.font-12-18__15;
              font-weight: 500;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 0.875rem;
              }
            }
          }
        }
        &__block__second {
          &__label {
            & p {
              @include g.font-12-18__15;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
              }
              @include g.mq(sp) {
                font-size: 1rem;
              }
            }
          }
          &__input {
            display: flex;
            flex-wrap: wrap;
            @include g.mq(sp) {
              display: block;
            }
            &__one {
              font-weight: 500;
              width: 50%;
              margin-top: 5%;
              @include g.mq(tab) {
                margin-top: 6%;
              }
              @include g.mq(sp) {
                width: 100%;
                margin-top: 5%;
              }
              &:nth-of-type(3),
              &:nth-of-type(4) {
                margin-top: 2.5%;
                @include g.mq(tab) {
                  margin-top: 5%;
                }
              }
              & input {
                width: 2em;
                height: 2em;
                margin-right: 2.5%;
                accent-color: g.$background-main;
                @include g.mq(tab) {
                  width: 1em;
                  height: 1em;
                }
              }
              & label {
                font-weight: 500;
                @include g.font-12-18__15;
                vertical-align: middle;
                @include g.mq(tab) {
                  @include g.font-8-13__15__tab;
                }
                @include g.mq(sp) {
                  font-size: 0.75rem;
                }
              }
            }
          }
        }
        &__block__third {
          &__label {
            & p {
              @include g.font-12-18__15;
              margin-top: 5%;
              margin-left: -2.5%;
              @include g.mq(tab) {
                @include g.font-10-13__15__tab;
                margin-top: 10%;
                margin-left: 0;
              }
              @include g.mq(sp) {
                font-size: 1rem;
              }
            }
          }
          &__text {
            width: 100%;
            height: 24rem;
            margin-left: -2.5%;
            margin-right: -2.5%;
            margin-top: 3%;
            @include g.font-12-18__15;
            line-height: 1.6;
            padding: 1.5% 2.5%;
            @include g.mq(tab) {
              width: 95%;
              @include g.font-10-13__15__tab;
              margin-left: 0;
              margin-right: 0;
            }
            @include g.mq(sp) {
              font-size: 0.875rem;
            }
          }
        }
        &__block__fourth {
          &__policy {
            & p {
              @include g.font-10-14__15;
              margin-top: 2.5%;
              margin-left: -2.5%;
              @include g.mq(tab) {
                @include g.font-7-10__15__tab;
                margin-top: 7.5%;
                margin-left: 0;
              }
              @include g.mq(sp) {
                text-align: center;
                font-size: 0.625rem;
                margin-top: 10%;
              }
              & a {
                text-decoration: underline;
                transition: all 0.1s;
                &:hover {
                  opacity: 1;
                }
                &:active {
                  color: #6d6d6d;
                }
              }
            }
          }
          &__check {
            margin-top: 2.5%;
            margin-left: -2.5%;
            @include g.font-12-20__15;
            @include g.mq(tab) {
              margin-left: 0;
            }
            @include g.mq(sp) {
              text-align: center;
              font-size: 1rem;
            }
          }
        }
        &__btn {
          width: 25%;
          margin: 2.5% auto 0;
          @include g.mq(tab) {
            margin: 9% auto 0;
            width: 40%;
          }
          @include g.mq(sp) {
            margin: 15% auto 0;
            width: 60%;
          }
        }
      }
    }
  }
}

.contact-btn {
  width: 100%;
  display: block;
  color: g.$cWhite;
  background-color: g.$background-main;
  cursor: pointer;
  border: unset;
  transition: all 0.7s;
  line-height: 3;
  & span:nth-of-type(1) {
    @include g.font-14-24__15;
    @include g.mq(sp) {
      font-size: 1rem;
    }
  }
  & .__icon-arrow {
    margin-left: 5%;
    vertical-align: middle;
    & svg {
      width: 10%;
    }
  }
  &:hover {
    opacity: 0.7;
  }
  @include g.mq(tab) {
    line-height: 4;
  }
  @include g.mq(sp) {
    line-height: 3;
  }
}

#check {
  display: none;
}

label[for="check"] {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  @include g.mq(tab) {
    padding-left: 20px;
  }
}

label[for="check"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #333;
  background-color: g.$cWhite;
  @include g.mq(tab) {
    width: 15px;
    height: 15px;
    top: 7.5px;
  }
  @include g.mq(sp) {
    top: 17px;
  }
}

label[for="check"]::after {
  content: "";
  position: absolute;
  top: 8.5px;
  left: 3.5px;
  width: 18.5px;
  height: 6px;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  transform: rotate(-45deg);
  opacity: 0;
  @include g.mq(tab) {
    top: 12px;
    width: 10px;
    height: 4px;
  }
  @include g.mq(sp) {
    top: 22px;
  }
}

#check:checked + label[for="check"]::after {
  opacity: 1;
}

.label-check {
  margin-left: 15px;
  margin-top: 3%;
  display: inline-block;
  width: 150px;
  @include g.mq(tab) {
    margin-top: 5.5%;
  }
  @include g.mq(sp) {
    margin-top: 21.5%;
    width: 65px;
  }
}

.footer {
  & h2,
  & a,
  & small {
    color: g.$cWhite;
  }
}
