@charset "UTF-8";

@use "foundation";

@use "global" as g;

// top
.top {
  &-wrap {
    background-image: url("../img/top-pc__fv.jpeg");
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    @include g.mq(pc) {
      background-position: 20%;
    }
    @include g.mq(sp) {
      background-position: 27%;
    }

    &__ttl {
      & h1 {
        @include g.font-en-b;
        @include g.font-20-56__0;
        line-height: 1.43;
        position: absolute;
        bottom: 15%;
        left: 5%;
        @include g.mq(sp) {
          bottom: 21%;
        }
      }
      & .ttl__sub {
        position: absolute;
        left: 5%;
        bottom: 7.5%;
        @include g.mq(sp) {
          bottom: 13.5%;
        }
      }
    }
  }
}

// about
.about {
  &-wrap {
    &__con {
      &__block {
        display: flex;
        justify-content: space-between;
        @include g.mq(sp) {
          display: block;
          margin-bottom: 30%;
        }
        &:nth-of-type(2) {
          flex-flow: row-reverse;
          margin-top: 15%;
        }

        &__left {
          width: 50%;
          aspect-ratio: 75 / 44;
          @include g.mq(sp) {
            width: 90%;
            margin: 0 auto;
          }
          & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }

        &__right {
          width: 46%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include g.mq(sp) {
            width: 90%;
            margin: 0 auto;
          }

          &__ttl {
            & h2 {
              @include g.font-20-32__15;
              color: g.$cBrand-color;
              @include g.mq(tab) {
                @include g.font-14-23__15__tab;
                & .initial-text {
                  @include g.font-24-47__15__tab;
                }
                & .s-ttl__sub {
                  @include g.font-9-18__15__tab;
                }
              }
              @include g.mq(sp) {
                margin-top: 5%;
                text-align: center;
                @include g.font-20-22__5__sp;
                & .initial-text {
                  @include g.font-36-40__5__sp;
                }
                & .s-ttl__sub {
                  @include g.font-14-16__15__sp;
                }
              }
            }
          }

          &__txt {
            @include g.mq(sp) {
              margin: 7.5% 0;
            }
            & p {
              @include g.font-10-15__15;
              @include g.mq(pc) {
                @include g.font-7-12__15;
              }
              @include g.mq(tab) {
                @include g.font-6-9__15__tab;
                line-height: 1.2;
              }
              @include g.mq(sp) {
                @include g.font-10-12__15__sp;
                line-height: 1.7;
              }

              line-height: 1.7;
              &:nth-of-type(2) {
                margin-top: 3%;
              }
            }
          }
          & .outer-btn-s {
            @include g.mq(sp) {
              margin-right: auto;
            }
            & .inner-btn-s {
              @include g.mq(tab) {
                line-height: 2.4;
                & .__arrow {
                  @include g.font-9-15__15__tab;
                }
                & .__text {
                  margin-top: 0;
                }
              }
              @include g.mq(sp) {
                line-height: 2.2;
                & .__arrow {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include g.mq(tab) {
  .arrow-part1 {
    width: 10px;
    height: 2px;
  }
  .diagonal-line1,
  .diagonal-line2 {
    width: 4.5px;
    height: 1.5px;
  }
}

.news {
  margin-top: 15%;
  &-wrap {
    & .c-ttl {
      margin: 2.5% 0;
    }
    &__link {
      text-align: right;
      margin: 1.5% 0;
      @include g.mq(tab) {
        margin: 5% 0;
      }
      & a {
        @include g.font-10-24__15;
        & span {
          margin-left: 1%;
          display: inline-block;
          vertical-align: middle;
          @include g.mq(tab) {
            vertical-align: sub;
          }
        }
        & span:nth-of-type(1),
        & span:nth-of-type(2) {
          margin-top: -2.5px;
        }
        & .__icon-arrow {
          & svg {
            @include g.font-6-20__0;
          }
        }
      }
    }
    &__con {
      display: flex;
      justify-content: space-between;
      @include g.mq(tab) {
        display: block;
      }
      &__block {
        width: 30%;
        @include g.mq(tab) {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 5%;
        }
        &__img {
          width: 100%;
          aspect-ratio: 393 / 260;
          @include g.mq(tab) {
            width: 37.5%;
          }
          & img {
            width: 100%;
            height: 100%;
          }
        }
        &__txt {
          margin: 5% 2.5%;
          @include g.mq(tab) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            width: 60%;
          }
          &__date {
            @include g.font-10-16__15;
            @include g.font-en-b;
            @include g.mq(tab) {
              @include g.font-10-14__15__tab;
            }
          }
          &__text {
            @include g.font-10-16__15;
            line-height: 1.6;
            margin-top: 5%;
            margin-bottom: 5%;
            width: 70%;
            @include g.mq(tab) {
              width: 100%;
              @include g.font-10-14__15__tab;
            }
          }
        }
      }
    }
  }
}

.blog {
  @include g.mq(sp) {
    margin: 20% 0 10%;
  }
  &-wrap {
    & .c-ttl {
      margin: 2.5% 0;
    }
    &__link {
      text-align: right;
      margin: 1.5% 0;
      @include g.mq(tab) {
        margin: 3% 0;
      }
      & a {
        @include g.font-10-24__15;
        & span {
          margin-left: 1%;
          display: inline-block;
          vertical-align: middle;
          @include g.mq(tab) {
            vertical-align: sub;
          }
        }
        & span:nth-of-type(1),
        & span:nth-of-type(2) {
          margin-top: -2.5px;
        }
        & .__icon-arrow {
          & svg {
            @include g.font-6-20__0;
          }
        }
      }
    }
    &__con {
      &__list {
        width: 70%;
        margin: 0 auto;
        @include g.mq(sp) {
          width: 100%;
        }
        & hr {
          margin: 0.5em 0;
        }
        &__item {
          &__link {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1% 0;
            &__left {
              width: 15%;
              @include g.mq(tab) {
                width: 20%;
              }
              & p {
                @include g.font-en-b;
                @include g.font-14-24__0;
                @include g.mq(pc) {
                  @include g.font-16-17__pc;
                }
                @include g.mq(tab) {
                  @include g.font-14-16__tab;
                }
                & span {
                  display: block;
                  @include g.font-12-20__0;
                  margin-bottom: 5%;
                  font-weight: 500;
                }
              }
            }
            &__right {
              & p {
                @include g.font-12-20__0;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
