@charset "UTF-8";

@use "foundation";

@use "global" as g;

// top
.top {
  &-wrap {
    background-image: url("../img/service-bg.jpeg");
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 70vh;
    @include g.mq(pc) {
      height: 50vh;
    }

    &__ttl {
      position: absolute;
      top: 50%;
      left: 7.5%;
      transform: translateY(-25%);

      & h1 {
        @include g.font-en-b;
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0;
        @include g.font-20-56__15;
      }
    }
  }
}

// feature
.feature {
  &-wrap {
    &__con {
      &__block {
        display: flex;
        gap: 3.5%;
        margin: 10% 0;
        &:nth-of-type(2) {
          flex-flow: row-reverse;
        }
        &__left {
          width: 50%;
          &__img {
            width: 100%;
            aspect-ratio: 21 / 11;
            position: relative;
            &::before {
              content: "";
              display: block;
              background: linear-gradient(
                to bottom right,
                g.$cBrand-color-2,
                g.$cBrand-color
              );
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: -1;
              top: 13px;
              left: 13px;
            }
            &::before {
              content: "";
              display: block;
              background: linear-gradient(
                to bottom right,
                g.$cBrand-color-2,
                g.$cBrand-color
              );
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: -1;
              top: 13px;
              left: 13px;
              @include g.mq(tab) {
                top: 6px;
                left: 6px;
              }
            }
            &.different-style::before {
              top: 13px;
              left: -13px;
              background: linear-gradient(
                to bottom left,
                g.$cBrand-color-2,
                g.$cBrand-color
              );
              @include g.mq(tab) {
                top: 6px;
                left: -6px;
              }
            }
            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }
          }
        }
        &__right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 39.5%;
          &__ttl {
            & h3 {
              @include g.font-en-b;
              @include g.font-56-96__15__full;
              @include g.mq(pc) {
                @include g.font-48-56__15__pc;
              }
              @include g.mq(tab) {
                @include g.font-32-48__15__tab;
              }
              background: linear-gradient(
                to bottom right,
                g.$cBrand-color-2,
                g.$cBrand-color
              );
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              color: transparent;
              &:nth-of-type(2) {
                margin-top: -15px;
                @include g.mq(tab) {
                  margin-top: -11px;
                }
              }
            }
            & span {
              @include g.font-jp-b;
              @include g.font-20-36__15__full;
              display: block;
              color: g.$cWhite;
              line-height: 1.6;
              @include g.mq(pc) {
                @include g.font-16-20__15__tab;
              }
              @include g.mq(tab) {
                @include g.font-10-16__15__tab;
              }
            }
          }
          &__txt {
            & p {
              @include g.font-13-24__15__full;
              font-weight: 500;
              line-height: 2;
              @include g.mq(pc) {
                @include g.font-10-13__15__pc;
              }
              @include g.mq(tab) {
                @include g.font-7-10__15__tab;
              }
            }
          }
        }
      }
      & .outer-btn-s {
        width: 25%;
        & .inner-btn-s {
          width: 100%;
          line-height: 3;
        }
      }
    }
  }
}
