@use "../setting/" as *;

@mixin flex($justify: space-between) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin font-jp-b {
  font-family: $font-jp;
  font-weight: 700;
}

@mixin font-en-b {
  font-family: $font-en;
  font-weight: 700;
}

@mixin font-15-15 {
  font-size: $font-15;
  letter-spacing: -0.23px;
}

@mixin font-16-15 {
  font-size: $font-16;
  letter-spacing: -0.24px;
}

@mixin font-17-15 {
  font-size: $font-17;
  letter-spacing: -0.26px;
}

@mixin font-18-15 {
  font-size: $font-18;
  letter-spacing: -0.27px;
}

@mixin font-20-15 {
  font-size: $font-20;
  letter-spacing: -0.3px;
}

@mixin font-24-15 {
  font-size: $font-24;
  letter-spacing: -0.36px;
}

@mixin font-30-15 {
  font-size: $font-30;
  letter-spacing: -0.45px;
}

@mixin font-32-15 {
  font-size: $font-32;
  letter-spacing: -0.48px;
}

@mixin font-36-15 {
  font-size: $font-36;
  letter-spacing: -0.54px;
}

@mixin font-48-5 {
  font-size: $font-48;
  letter-spacing: 2.4px;
}

@mixin font-48-15 {
  font-size: $font-48;
  letter-spacing: -0.72px;
}

@mixin font-56-15 {
  font-size: $font-56;
  letter-spacing: -0.84px;
}

@mixin font-6-20__0 {
  font-size: clamp(0.375rem, 0.136rem + 1.06vw, 1.25rem);
}

@mixin font-5-10__0 {
  font-size: $font-5-10;
  letter-spacing: 0;
}

@mixin font-6-9__15__tab {
  font-size: $font-6-9__tab;
  letter-spacing: clamp(-0.006rem, -0.001rem + -0.02vw, -0.008rem);
}

@mixin font-7-10__15__sp {
  font-size: $font-7-10__sp;
  letter-spacing: clamp(-0.007rem, 0.002rem + -0.04vw, -0.009rem);
}

@mixin font-7-10__15__tab {
  font-size: $font-7-10__tab;
  letter-spacing: clamp(-0.007rem, -0.002rem + -0.02vw, -0.009rem);
}

@mixin font-7-12__15 {
  font-size: $font-7-12;
  letter-spacing: clamp(-0.007rem, -0.002rem + -0.01vw, -0.011rem);
}

@mixin font-8-10__15__tab {
  font-size: $font-8-10__tab;
  letter-spacing: clamp(-0.007rem, -0.004rem + -0.01vw, -0.009rem);
}

@mixin font-8-11__15__tab {
  font-size: $font-8-11__tab;
  letter-spacing: clamp(0.007rem, 0.003rem + 0.02vw, 0.01rem);
}

@mixin font-8-13__15__tab {
  font-size: $font-8-13__tab;
  letter-spacing: clamp(-0.007rem, -0.03vw, -0.012rem);
}

@mixin font-9-15__15__tab {
  font-size: $font-9-15__tab;
  letter-spacing: clamp(-0.008rem, 0.001rem + -0.03vw, -0.014rem);
}

@mixin font-9-18__15__tab {
  font-size: $font-9-18;
  letter-spacing: clamp(-0.008rem, 0.006rem + -0.05vw, -0.017rem);
}

@mixin font-10-12__15__sp {
  font-size: $font-10-12__sp;
  letter-spacing: clamp(-0.009rem, -0.004rem + -0.03vw, -0.011rem);
}

@mixin font-10-12__15__tab {
  font-size: $font-10-12__tab;
  letter-spacing: clamp(-0.009rem, -0.006rem + -0.01vw, -0.011rem);
}

@mixin font-10-13__15__tab {
  font-size: $font-10-13__tab;
  letter-spacing: clamp(-0.009rem, -0.005rem + -0.02vw, -0.012rem);
}

@mixin font-10-14__15 {
  font-size: $font-10-14;
  letter-spacing: clamp(-0.009rem, -0.008rem + 0vw, -0.013rem);
}

@mixin font-10-14__15__tab {
  font-size: $font-10-14__tab;
  letter-spacing: clamp(-0.009rem, -0.008rem + 0vw, -0.013rem);
}

@mixin font-10-15__15 {
  font-size: $font-10-15;
  letter-spacing: clamp(-0.009rem, -0.008rem + -0.01vw, -0.014rem);
}

@mixin font-10-15__15__tab {
  font-size: $font-10-15__tab;
  letter-spacing: clamp(-0.009rem, -0.002rem + -0.03vw, -0.014rem);
}

@mixin font-10-16__15 {
  font-size: $font-10-16;
  letter-spacing: clamp(-0.009rem, -0.008rem + -0.01vw, -0.015rem);
}

@mixin font-10-16__15__tab {
  font-size: $font-10-16__tab;
  letter-spacing: clamp(-0.009rem, -0.03vw, -0.015rem);
}

@mixin font-10-16__15__full__tab {
  font-size: $font-10-16__full__tab;
  letter-spacing: clamp(-0.009rem, -0.008rem + -0.01vw, -0.015rem);
}

@mixin font-10-18__15 {
  font-size: $font-10-18;
  letter-spacing: clamp(-0.009rem, -0.007rem + -0.01vw, -0.017rem);
}

@mixin font-10-20__15 {
  font-size: $font-10-20;
  letter-spacing: clamp(-0.009rem, -0.007rem + -0.01vw, -0.019rem);
}

@mixin font-10-24__15 {
  font-size: $font-10-24;
  letter-spacing: clamp(-0.009rem, -0.006rem + -0.02vw, -0.022rem);
}

@mixin font-10-13__15__pc {
  font-size: $font-10-13__pc;
  letter-spacing: clamp(-0.01rem, -0.005rem + -0.01vw, -0.012rem);
}

@mixin font-10-17__15__pc {
  font-size: $font-10-17__pc;
  letter-spacing: clamp(0.009rem, -0.01rem + 0.04vw, 0.016rem);
}

@mixin font-11-14__15__pc {
  font-size: $font-11-14__pc;
  letter-spacing: clamp(-0.01rem, -0.002rem + -0.02vw, -0.013rem);
}

@mixin font-11-14__15__tab {
  font-size: $font-11-14__tab;
  letter-spacing: clamp(-0.01rem, -0.006rem + -0.02vw, -0.013rem);
}

@mixin font-11-15__15__tab {
  font-size: $font-11-15;
  letter-spacing: clamp(-0.01rem, -0.004rem + -0.02vw, -0.014rem);
}

@mixin font-12-13__15__pc {
  font-size: $font-12-13;
  letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.012rem);
}

@mixin font-12-14__15__sp {
  font-size: $font-12-14__sp;
  letter-spacing: clamp(-0.011rem, -0.006rem + -0.03vw, -0.013rem);
}

@mixin font-12-15__15 {
  font-size: $font-12-15;
  letter-spacing: clamp(-0.011rem, -0.007rem + -0.02vw, -0.014rem);
}

@mixin font-12-15__15__sp {
  font-size: $font-12-15__sp;
  letter-spacing: clamp(-0.011rem, -0.003rem + -0.04vw, -0.014rem);
}

@mixin font-12-15__15__tab {
  font-size: $font-12-15__tab;
  letter-spacing: clamp(-0.011rem, -0.007rem + -0.02vw, -0.014rem);
}

@mixin font-12-16__15 {
  font-size: $font-12-16;
  letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.015rem);
}

@mixin font-12-16__15__pc {
  font-size: $font-12-16__pc;
  letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.015rem);
}

@mixin font-12-16__15__pc2 {
  font-size: $font-12-16__pc2;
  letter-spacing: clamp(-0.011rem, -0.01rem + 0vw, -0.015rem);
}

@mixin font-12-18__15 {
  font-size: $font-12-18;
  letter-spacing: clamp(-0.011rem, -0.01rem + -0.01vw, -0.017rem);
}

@mixin font-12-18__15__tab {
  font-size: $font-12-18__tab;
  letter-spacing: clamp(-0.011rem, -0.002rem + -0.03vw, -0.017rem);
}

@mixin font-12-20__0 {
  font-size: $font-12-20;
  letter-spacing: 0;
}

@mixin font-12-20__15 {
  font-size: $font-12-20;
  letter-spacing: clamp(-0.011rem, -0.009rem + -0.01vw, -0.019rem);
}

@mixin font-12-24__15 {
  font-size: $font-12-24;
  letter-spacing: clamp(-0.011rem, -0.008rem + -0.01vw, -0.022rem);
}

@mixin font-13-24__15__full {
  font-size: $font-13-24__full;
  letter-spacing: clamp(-0.012rem, -0.02vw, -0.022rem);
}

@mixin font-14-15__15 {
  font-size: $font-14-15;
  letter-spacing: clamp(-0.013rem, -0.013rem + 0vw, -0.014rem);
}

@mixin font-14-16__15__sp {
  font-size: $font-14-16__sp;
  letter-spacing: clamp(-0.013rem, -0.007rem + -0.03vw, -0.015rem);
}

@mixin font-14-16__tab {
  font-size: $font-14-16__tab;
  letter-spacing: clamp(-0.013rem, -0.011rem + -0.01vw, -0.015rem);
}

@mixin font-14-16__15__tab__sp {
  font-size: $font-14-16__tab__sp;
  letter-spacing: clamp(-0.013rem, -0.011rem + -0.01vw, -0.015rem);
}

@mixin font-14-17__15__sp {
  font-size: $font-14-17__sp;
  letter-spacing: clamp(-0.013rem, -0.005rem + -0.04vw, -0.016rem);
}

@mixin font-14-20__15 {
  font-size: $font-14-20;
  letter-spacing: clamp(-0.013rem, -0.012rem + -0.01vw, -0.019rem);
}

@mixin font-14-20__15__2 {
  font-size: $font-14-20__2;
  letter-spacing: clamp(-0.013rem, -0.012rem + -0.01vw, -0.019rem);
}

@mixin font-14-22__15__tab {
  font-size: $font-14-22__tab;
  letter-spacing: clamp(-0.013rem, -0.001rem + -0.04vw, -0.021rem);
}

@mixin font-14-23__15__tab {
  font-size: $font-14-23;
  letter-spacing: clamp(-0.013rem, 0.001rem + -0.05vw, -0.022rem);
}

@mixin font-14-24__0 {
  font-size: $font-14-24;
  letter-spacing: 0;
}

@mixin font-14-24__15 {
  font-size: $font-14-24;
  letter-spacing: clamp(-0.013rem, -0.011rem + -0.01vw, -0.022rem);
}

@mixin font-14-24__15__full {
  font-size: $font-14-24__full;
  letter-spacing: clamp(-0.013rem, -0.011rem + -0.01vw, -0.022rem);
}

@mixin font-14-28__15 {
  font-size: $font-14-28;
  letter-spacing: clamp(-0.001rem, 0.006rem + -0.03vw, -0.026rem);
}

@mixin font-14-32__15 {
  font-size: $font-14-32;
  letter-spacing: clamp(-0.013rem, -0.009rem + -0.02vw, -0.03rem);
}

@mixin font-14-36__15 {
  font-size: $font-14-36;
  letter-spacing: clamp(-0.013rem, -0.007rem + -0.03vw, -0.034rem);
}

@mixin font-15-19__15__tab {
  font-size: $font-15-19__tab;
  letter-spacing: clamp(-0.014rem, -0.008rem + -0.02vw, -0.018rem);
}

@mixin font-15-22__15__tab {
  font-size: $font-15-22__tab;
  letter-spacing: clamp(-0.014rem, -0.003rem + -0.04vw, -0.021rem);
}

@mixin font-16-17__pc {
  font-size: $font-16-17__pc;
  letter-spacing: clamp(-0.015rem, -0.012rem + -0.01vw, -0.016rem);
}

@mixin font-16-20__15__tab {
  font-size: $font-16-20__tab;
  letter-spacing: clamp(-0.015rem, -0.004rem + -0.02vw, -0.019rem);
}

@mixin font-16-24__15 {
  font-size: $font-16-24;
  letter-spacing: clamp(-0.015rem, -0.013rem + -0.01vw, -0.022rem);
}

@mixin font-16-28__15 {
  font-size: $font-16-28;
  letter-spacing: clamp(-0.015rem, -0.012rem + -0.01vw, -0.026rem);
}

@mixin font-16-32__15 {
  font-size: $font-16-32;
  letter-spacing: clamp(-0.015rem, -0.011rem + -0.02vw, -0.03rem);
}

@mixin font-16-36__15 {
  font-size: $font-16-36;
  letter-spacing: clamp(-0.015rem, -0.01rem + -0.02vw, -0.034rem);
}

@mixin font-16-36__15__full {
  font-size: $font-16-36__full;
  letter-spacing: clamp(-0.015rem, -0.01rem + -0.02vw, -0.034rem);
}

@mixin font-18-26__15 {
  font-size: $font-18-26;
  letter-spacing: clamp(-0.017rem, -0.014rem + -0.01vw, -0.024rem);
}

@mixin font-18-28__15 {
  font-size: $font-18-28;
  letter-spacing: clamp(-0.017rem, -0.014rem + -0.01vw, -0.026rem);
}

@mixin font-18-32__15 {
  font-size: $font-18-32;
  letter-spacing: clamp(-0.017rem, -0.013rem + -0.02vw, -0.03rem);
}

@mixin font-20-22__5__sp {
  font-size: $font-20-22__sp;
  letter-spacing: clamp(0.063rem, -0.041rem + 0.46vw, 0.097rem);
}

@mixin font-20-24__15__tab__sp {
  font-size: $font-20-24__tab__sp;
  letter-spacing: clamp(-0.019rem, -0.015rem + -0.01vw, -0.022rem);
}

@mixin font-20-24__full {
  font-size: $font-20-24__full;
  letter-spacing: clamp(-0.019rem, -0.014rem + -0.01vw, -0.022rem);
}

@mixin font-20-28__15 {
  font-size: $font-20-28;
  letter-spacing: clamp(-0.019rem, -0.017rem + -0.01vw, -0.026rem);
}

@mixin font-20-31__15__tab {
  font-size: $font-20-31__tab;
  letter-spacing: clamp(-0.019rem, -0.001rem + -0.06vw, -0.029rem);
}

@mixin font-20-32__15 {
  font-size: $font-20-32;
  letter-spacing: clamp(-0.019rem, -0.016rem + -0.01vw, -0.03rem);
}

@mixin font-20-36__15 {
  font-size: $font-20-36;
  letter-spacing: clamp(-0.019rem, -0.015rem + -0.02vw, -0.034rem);
}

@mixin font-20-36__15__full {
  font-size: $font-20-36__full;
  letter-spacing: clamp(-0.019rem, -0.015rem + -0.02vw, -0.034rem);
}

@mixin font-20-36__5 {
  font-size: $font-20-36;
  letter-spacing: clamp(0.063rem, 0.049rem + 0.06vw, 0.113rem);
}

@mixin font-20-48__15 {
  font-size: $font-20-48;
  letter-spacing: clamp(-0.019rem, -0.012rem + -0.03vw, -0.045rem);
}

@mixin font-20-48__0 {
  font-size: $font-20-48;
  letter-spacing: 0;
}

@mixin font-20-48-5 {
  font-size: $font-20-48;
  letter-spacing: clamp(0.063rem, 0.039rem + 0.11vw, 0.15rem);
}

@mixin font-24-32__15__sp {
  font-size: $font-24-32__sp;
  letter-spacing: clamp(-0.022rem, -0.1vw, -0.03rem);
}

@mixin font-24-47__15__tab {
  font-size: $font-24-47;
  letter-spacing: clamp(-0.022rem, 0.014rem + -0.12vw, -0.044rem);
}

@mixin font-24-48__15 {
  font-size: $font-24-48;
  letter-spacing: clamp(-0.022rem, -0.016rem + -0.03vw, -0.045rem);
}

@mixin font-20-48__15__2 {
  font-size: $font-20-48__2;
  letter-spacing: clamp(-0.022rem, -0.016rem + -0.03vw, -0.045rem);
}

@mixin font-96-15 {
  font-size: $font-96;
  letter-spacing: -1.44px;
}

@mixin font-16-32__15 {
  font-size: $font-16-32;
  letter-spacing: clamp(-0.015rem, -0.011rem + -0.02vw, -0.03rem);
}

@mixin font-20-56__0 {
  font-size: $font-20-56;
  letter-spacing: 0;
}

@mixin font-20-56__15 {
  font-size: $font-20-56;
  letter-spacing: clamp(-0.019rem, -0.01rem + -0.04vw, -0.052rem);
}

@mixin font-32-48__15__tab {
  font-size: $font-32-48__tab;
  letter-spacing: clamp(-0.03rem, -0.005rem + -0.08vw, -0.045rem);
}

@mixin font-32-72__0 {
  font-size: $font-32-72;
  letter-spacing: 0;
}

@mixin font-36-40__5__sp {
  font-size: $font-36-40__sp;
  letter-spacing: clamp(0.113rem, 0.075rem + 0.17vw, 0.125rem);
}

@mixin font-36-43__15__sp {
  font-size: $font-36-43__sp;
  letter-spacing: clamp(-0.034rem, -0.014rem + -0.09vw, -0.04rem);
}

@mixin font-36-72__0 {
  font-size: $font-36-72;
  letter-spacing: 0;
}

@mixin font-36-80__0 {
  font-size: $font-36-80;
  letter-spacing: 0;
}

@mixin font-36-80__15 {
  font-size: $font-36-80;
  letter-spacing: clamp(-0.034rem, -0.023rem + -0.05vw, -0.075rem);
}

@mixin font-36-96__0 {
  font-size: $font-36-96;
  letter-spacing: 0;
}

@mixin font-36-96__15 {
  font-size: $font-36-96;
  letter-spacing: clamp(-0.034rem, -0.018rem + -0.07vw, -0.09rem);
}

@mixin font-48-56__15__pc {
  font-size: $font-48-56;
  letter-spacing: clamp(-0.045rem, -0.09rem + 0.09vw, -0.03rem);
}

@mixin font-56-96__15__full {
  font-size: $font-56-96__full;
  letter-spacing: clamp(-0.052rem, 0.028rem + -0.13vw, -0.09rem);
}

@mixin font-56-72__15__sp {
  font-size: $font-56-72__sp;
  letter-spacing: clamp(-0.052rem, -0.007rem + -0.2vw, -0.068rem);
}
